@model CP_MathHub.Models.Question.AnswerViewModel
@using CP_MathHub.Entity;
@using CP_MathHub.Service.Helpers
<div class="mh-answer_hint">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#answers" aria-controls="answers" role="tab" data-toggle="tab">
                @Model.Answers.Count câu trả lời
            </a>
        </li>
        <li role="presentation">
            <a href="#hints" aria-controls="hints" role="tab" data-toggle="tab">
                @Model.Hints.Count gợi ý
            </a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="answers">
            <div class="mh-answer_hint-body">
                @if (Model.Answers.Count < 1)
                {
                    <p>Chưa có câu trả lời nào.</p>
                }
                @for (int i = 0; i < Model.Answers.Count; i++)
                {
                    <div class="mh-answer_hint-content">
                        <div class="row mh-answer_hint-content-row">
                            @Html.Partial("Partials/_VotePartialView", Model.VoteAnswerVMs.ElementAt(i), new ViewDataDictionary { { "UserId", ViewData["UserId"] } })
                            <div class="col-xs-11 col-sm-11 col-md-11 mh-answer_hint-detail">
                                <div class="mh-answer_hint-detail-content">
                                    @Html.Raw(Model.Answers.ElementAt(i).Content)
                                    <span class="@(Model.Answers.ElementAt(i).EditedContents.Count > 1 ? "" : "hidden") edited-button">
                                        <a onclick="loadEditedLog(@Model.Answers.ElementAt(i).Id,'Answer')" data-toggle="modal" data-target="#history-edit" class="mh-comment-history-edit">Đã chỉnh sửa</a>
                                    </span>
                                </div>
                                <div class="mh-answer_hint-user_info">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-6 col-md-7 col-md-offset-5 col-lg-5 col-lg-offset-7">
                                            <div class="row">
                                                <span class="mh-time">@Html.PostCreatedTime(Model.Answers.ElementAt(i).CreatedDate, "trả lời")</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-sm-offset-6 col-md-7 col-md-offset-5 col-lg-5 col-lg-offset-7">
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 mh-answer-avatar">
                                                    <a href="@Url.Action("UserProfile", "Account", new {userId = Model.Answers.ElementAt(i).Author.Id })">
                                                        <img src="@(Model.Answers.ElementAt(i).Author.Avatar != null ? Url.Content(Model.Answers.ElementAt(i).Author.Avatar.Url) : Url.Content("~/Content/img/user.jpg"))" class="mh-user-avatar">
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 mh-answer-username">
                                                    <a href="@Url.Action("UserProfile", "Account", new {userId = Model.Answers.ElementAt(i).Author.Id })">
                                                        <span class="mh-username">@Model.Answers.ElementAt(i).Author.UserName</span>
                                                    </a>
                                                    <div class="detail-reputat">
                                                        <span>@Model.Answers.ElementAt(i).Author.Reputation</span>
                                                        <i class="fa fa-circle mh-reputation-icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @using (Html.BeginForm("EditAnswer", "Question", FormMethod.Post))
                                {
                                    <div class="mh-ckeditor mh-answer_hint-edit-textarea">
                                        <textarea class="mh-ckeditor-textarea editor" name="content" id="editor-@Model.Answers.ElementAt(i).Id" rows="10" cols="80">
                                            @Model.Answers.ElementAt(i).Content
                                        </textarea>
                                        <input type="hidden" name="id" value="@Model.Answers.ElementAt(i).Id" />
                                    </div>
                                    <div class="mh-note-answer_hint">
                                        <button type="submit" class="btn btn-success btn-sm">Đăng câu trả lời</button>
                                        <button type="button" onclick="@("closeEditAnswer()")" class="mh-note-answer_hint-close-button" value="@Model.Answers.ElementAt(i).Content">
                                            Hủy
                                        </button>
                                    </div>
                                }
                                @Html.Partial("../CommonWidget/_PostSettingPartialView", new ViewDataDictionary { { "PostId", Model.Answers.ElementAt(i).Id }, { "PostType", "answer" }, { "Status", Model.Answers.ElementAt(i).Status.Value == PostStatusEnum.Active }, { "UserId", Model.Answers.ElementAt(i).UserId } })
                                <div class="panel-body mh-comment" id="mh-post-@Model.Answers.ElementAt(i).Id">
                                    @Html.Partial("Partials/_CommentListPartialView", Model.Answers.ElementAt(i).Comments.ToList(), new ViewDataDictionary { { "PostId", Model.Answers.ElementAt(i).Id }, { "Status", ViewData["Status"] } })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="hints">
            <div class="mh-answer_hint-body">
                @if (Model.Hints.Count < 1)
                {
                    <p>Chưa có gợi ý nào.</p>
                }
                @for (int i = 0; i < Model.Hints.Count; i++)
                {
                    <div class="mh-answer_hint-content">
                        <div class="row mh-answer_hint-content-row">
                            @Html.Partial("Partials/_VotePartialView", Model.VoteHintVMs.ElementAt(i), new ViewDataDictionary { { "UserId", ViewData["UserId"] } })
                            <div class="col-xs-11 col-sm-11 col-md-11 mh-answer_hint-detail">
                                <div class="mh-answer_hint-detail-content">
                                    @Html.Raw(Model.Hints.ElementAt(i).Content)
                                    <span class="@(Model.Hints.ElementAt(i).EditedContents.Count > 1 ? "" : "hidden") edited-button">
                                        <a onclick="loadEditedLog(@Model.Hints.ElementAt(i).Id,'Answer')" data-toggle="modal" data-target="#history-edit" class="mh-comment-history-edit">Đã chỉnh sửa</a>
                                    </span>
                                </div>
                                <div class="mh-answer_hint-user_info">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-6 col-md-7 col-md-offset-5 col-lg-5 col-lg-offset-7">
                                            <div class="row">
                                                <span class="mh-time">@Html.PostCreatedTime(Model.Hints.ElementAt(i).CreatedDate, "gợi ý")</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-sm-offset-6 col-md-7 col-md-offset-5 col-lg-5 col-lg-offset-7">
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 mh-answer-avatar">
                                                    <a href="@Url.Action("UserProfile", "Account", new {userId = Model.Hints.ElementAt(i).Author.Id })">
                                                        <img src="@(Model.Hints.ElementAt(i).Author.Avatar != null ? Url.Content(Model.Hints.ElementAt(i).Author.Avatar.Url) : Url.Content("~/Content/img/user.jpg"))" class="mh-user-avatar">
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 mh-answer-username">
                                                    <a href="@Url.Action("UserProfile", "Account", new {userId = Model.Hints.ElementAt(i).Author.Id })">
                                                        <span class="mh-username">@Model.Hints.ElementAt(i).Author.UserName</span>
                                                    </a>
                                                    <div class="detail-reputat">
                                                        <span>@Model.Hints.ElementAt(i).Author.Reputation</span>
                                                        <i class="fa fa-circle mh-reputation-icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @using (Html.BeginForm("EditAnswer", "Question", FormMethod.Post))
                                {
                                    <div class="mh-ckeditor mh-answer_hint-edit-textarea">
                                        <textarea class="mh-ckeditor-textarea editor" name="content" id="editor-@Model.Hints.ElementAt(i).Id" rows="10" cols="80">
                                            @Model.Hints.ElementAt(i).Content
                                        </textarea>
                                        <input type="hidden" name="id" value="@Model.Hints.ElementAt(i).Id" />
                                    </div>
                                    <div class="mh-note-answer_hint">
                                        <button type="submit" class="btn btn-success btn-sm">Đăng câu trả lời</button>
                                        <button type="button" onclick="@("closeEditAnswer()")" class="mh-note-answer_hint-close-button" value="@Model.Hints.ElementAt(i).Content">
                                            Hủy
                                        </button>
                                    </div>
                                }
                                @Html.Partial("../CommonWidget/_PostSettingPartialView", new ViewDataDictionary { { "PostId", Model.Hints.ElementAt(i).Id }, { "PostType", "answer" }, { "Status", Model.Hints.ElementAt(i).Status.Value == PostStatusEnum.Active }, { "UserId", Model.Hints.ElementAt(i).UserId } })
                                <div class="panel-body mh-comment" id="mh-post-@Model.Hints.ElementAt(i).Id">
                                    @Html.Partial("Partials/_CommentListPartialView", Model.Hints.ElementAt(i).Comments.ToList(), new ViewDataDictionary { { "PostId", Model.Hints.ElementAt(i).Id }, { "Status", ViewData["Status"] } })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>