@model CP_MathHub.Models.Question.AnswerViewModel
@using CP_MathHub.Entity;
@using CP_MathHub.Service.Helpers
<div class="mh-answer_hint">
    <section class="mh-tabs">
        <input id="mh-tab-1" type="radio" name="radio-set-1" class="mh-tab-selector-1" checked="checked" />
        <label for="mh-tab-1" class="mh-tab-label-1">@Model.Answers.Count câu trả lời</label>

        <input id="mh-tab-2" type="radio" name="radio-set-1" class="mh-tab-selector-2" />
        <label for="mh-tab-2" class="mh-tab-2 mh-tab-label-2">@Model.Hints.Count gợi ý</label>

        <div class="clear-shadow"></div>

        <div class="mh-tab-content">
            <div class="mh-tab-content-1">

                <div class="mh-answer_hint-body">
                    @foreach (Answer answer in @Model.Answers)
                    {
                        <div class="mh-answer_hint-content">
                            <div class="row mh-answer_hint-content-row">
                                @Html.Partial("Partials/_VotePartialView", (answer.VoteUp - answer.VoteDown))
                                <div class="col-xs-11 col-sm-11 col-md-11 mh-answer_hint-detail">
                                    <div class="mh-answer_hint-detail-content">
                                        @answer.Content
                                    </div>
                                    <div class="mh-answer_hint-user_info">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-6 col-md-7 col-md-offset-5 col-lg-5 col-lg-offset-7">
                                                <span class="mh-time">@MhHtmlHelper.PostCreatedTime(answer.CreatedDate, "trả lời")</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-6 col-md-7 col-md-offset-5 col-lg-5 col-lg-offset-7">
                                                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 mh-answer-avatar">
                                                    <a href="#">
                                                        <img src="~/Content/img/user.jpg" class="mh-user-avatar">
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 mh-answer-username">
                                                    <a href="#">
                                                        <span class="mh-username">@answer.Author.Username</span>
                                                    </a>
                                                    <div class="detail-reputat">
                                                        <span>>@answer.Author.Reputation</span>
                                                        <i class="fa fa-circle mh-reputation-icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @Html.Partial("Partials/_CommentPartialView", answer.Comments)
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="mh-tab-content-2">

                <div class="mh-answer_hint-body">
                    @foreach (Answer hint in @Model.Hints)
                    {
                        <div class="mh-answer_hint-content">
                            <div class="row mh-answer_hint-content-row">
                                @Html.Partial("Partials/_VotePartialView", (hint.VoteUp - hint.VoteDown))
                                <div class="col-xs-11 col-sm-11 col-md-11 mh-answer_hint-detail">
                                    <div class="mh-answer_hint-detail-content">
                                        @hint.Content
                                    </div>
                                    <div class="mh-answer_hint-user_info">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-6 col-md-7 col-md-offset-5 col-lg-5 col-lg-offset-7">
                                                <span class="mh-time">@MhHtmlHelper.PostCreatedTime(hint.CreatedDate, "gợi ý")</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-6 col-md-7 col-md-offset-5 col-lg-5 col-lg-offset-7">
                                                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 mh-answer-avatar">
                                                    <a href="#">
                                                        <img src="~/Content/img/user.jpg" class="mh-user-avatar">
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 mh-answer-username">
                                                    <a href="#">
                                                        <span class="mh-username">@hint.Author.Username</span>
                                                    </a>
                                                    <div class="detail-reputat">
                                                        <span>>@hint.Author.Reputation</span>
                                                        <i class="fa fa-circle mh-reputation-icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @Html.Partial("Partials/_CommentPartialView", hint.Comments)
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>
</div>