@using CP_MathHub.Core.Configuration
<div class="mh-home">
    <div class="row">
        <div class="col-xs-12 col-md-7 mh-home-tab">
            @Html.ActionLink("Mới nhất", "Index", new { @tab = Constant.Question.String.HomeNewestTab }, new { @class = "btn btn-danger btn-sm " + (ViewBag.Tab == Constant.Question.String.HomeNewestTab ? "active" : "") })
            @Html.ActionLink("Hot", "Index", new { @tab = Constant.Question.String.HomeHotTab }, new { @class = "btn btn-danger btn-sm " + (ViewBag.Tab == Constant.Question.String.HomeHotTab ? "active" : "") })
            @Html.ActionLink("Chưa trả lời", "Index", new { @tab = Constant.Question.String.HomeUnAnsweredTab }, new { @class = "btn btn-danger btn-sm " + (ViewBag.Tab == Constant.Question.String.HomeUnAnsweredTab ? "active" : "") })
            @Html.ActionLink("Thẻ", "Tags", null, new { @class = "btn btn-danger btn-sm " + (ViewBag.Tab == Constant.Question.String.HomeTagTab ? "active" : "") })
            @Html.ActionLink("Người dùng", "Users", null, new { @class = "btn btn-danger btn-sm " + (ViewBag.Tab == Constant.Question.String.HomeUserTab ? "active" : "") })
            @if (ViewBag.MhPage != "question-create") { 
                <a href="@Url.Action("Create", "Question")" class="btn btn-success btn-sm hidden-md hidden-lg">Đặt câu hỏi</a>
            }
        </div>
        <div class="col-xs-12 col-md-5 mh-page-search">
            @using (Html.BeginForm("Search", "Question", FormMethod.Get))
            {
                <div class="input-group">
                    <input type="search" class="form-control" name="searchString" placeholder="Tìm kiếm..." value="@ViewBag.SearchString">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            }
        </div>
    </div>
</div>
