@model CP_MathHub.Models.Question.QuestionPreviewViewModel
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
<div class="panel panel-warning mh-question-preview">
    <div class="panel-heading">
        <div class="mh-user-info">
            @Html.Partial("../CommonWidget/_UserInfoPartialView", @Model.UserInfo)
            @Html.Partial("../CommonWidget/_PostSettingPartialView", new ViewDataDictionary { { "PostId", Model.Id }, { "PostType", "question" }, {"Status", Model.Status}, {"UserId", Model.UserId} })
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 hidden-sm hidden-xs mh-info">
                <div>
                    <h2>@(Model.VoteUp - Model.VoteDown)</h2>
                    <span>bình chọn</span>
                </div>
                <div class="mh-answer-num">
                    <h2>@Model.AnswerNum</h2>
                    <span>câu trả lời</span>
                </div>
                <div>
                    <h2>@Model.View</h2>
                    <span>lượt xem</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 hidden-md hidden-lg mh-info">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <h2>@(Model.VoteUp - Model.VoteDown)</h2>
                        <span>bình chọn</span>
                    </div>
                    <div class="col-xs-4 col-sm-4 mh-sm-answer-num">
                        <h2>@Model.AnswerNum</h2>
                        <span>câu trả lời</span>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <h2>@Model.View</h2>
                        <span>lượt xem</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-xs-12 mh-content">
                <a href="@Url.Action("Detail",new{id = Model.Id})">@Model.Title</a>
                @if (User.Identity.GetUserId<int>() != Model.UserId)
                {
                    <i id="bookmarked-@Model.Id" onclick="unBookmark(@Model.Id)" class="fa fa-star mh-bookmarked-icon @(Model.Bookmarked ? "":"hidden")"></i>
                    <i id="bookmark-@Model.Id" onclick="bookmark(@Model.Id)" class="fa fa-star-o mh-bookmark-icon @(Model.Bookmarked ? "hidden" : "")"></i>
                }
                <div class="mh-sort-content">
                    @{
                        int length = Model.Title.Length > 50 ? 431 : 571;
                        if (Model.Content.Length > length)
                        {
                            @Html.Raw(Model.Content);                      
                        }
                        else
                        {
                            @Html.Raw(Model.Content);
                        }
                    }
                </div>
                <div class="mh-full-content hidden">
                    @if (Model.Content.Length > length)
                    {
                        @Html.Raw(Model.Content)
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            @if (Model.Content.Length > length)
            {
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <a onclick="seeMore(this)" class="mh-seemore">Xem thêm</a>
                </div>
            }
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 mh-social-report @(Model.Content.Length > length ? "hidden" : "")">
                <a target="_blank" title="Chia sẻ facebook" href="http://www.facebook.com/sharer.php?u=file:///D:/Capstone/CP-MathHub/code/frontend/MathHub/detail.html">
                    <img src="~/Content/img/social_fb_s.png" class="mh-share-facebook mh-share-facebook-button" alt="Chia sẻ facebook" />
                    <div class="mh-share-facebook">
                        <div class="pluginCountButton pluginCountNum">
                            <span class="pluginCountTextConnected">123</span>
                            <span class="pluginCountTextDisconnected">123</span>
                        </div>
                        <div class="pluginCountButtonNub">
                            <s></s>
                            <i></i>
                        </div>
                    </div>
                </a>
                <a href="#" class="mh-report-button" title="Báo cáo vi phạm">
                    <i class="fa fa-flag"></i> Báo vi phạm
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                <ul class="list-inline mh-list-tags mh-list-tags-right">
                    @foreach (var tag in Model.Tags)
                    {
                        <li>@Html.Partial("../CommonWidget/_TagPartialView", tag)</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
