@model CP_MathHub.Models.Question.QuestionItemViewModel


<h3><a href="#">@Model.Title</a></h3><br />
<ul>
    @*<li>User:@Model.UserInfo.Username</li>*@
    <li>Id:@Html.Raw(@Model.Id) </li>
    <li>Content: @Html.Raw(@Model.Content) </li>
    <li>DateCreated: @Model.CreatedDate </li>
    <li>UserId: @Model.UserId </li>
    <li>VoteUpNum: @Model.VoteUp</li>
    <li>VoteDownNum: @Model.VoteDown </li>
    <li>AnswerNum: @Model.AnswerNum </li>
    <li>HintNum: @Model.HintNum </li>
    <li>BookmarkNum: @Model.BookmarkNum </li>
    <li>ShareNum: @Model.ShareNum </li>
    <li>ReportNum: @Model.ReportNum </li>


</ul>
