@model CP_MathHub.Models.Discussion.DiscussionCreateViewModel
@{
    ViewBag.Title = "Tạo Thảo Luận";
    ViewBag.MhPage = "discussion-create";
    Layout = "~/Views/Discussion/Layouts/_DiscussionCreateLayout.cshtml";
}

<div class="mh-top-content">
    <div class="row">
        <div class="col-md-4 mh-content-title">
            <h3>Tạo Thảo Luận</h3>
        </div>
    </div>
</div>

@*@Html.Partial("Partials/_NavPartialView", new ViewDataDictionary { { "Title", "Bài tập luyện thì đại học" } })*@

<div class="mh-body-content-mid">
    @using (Html.BeginForm("Create", "Discussion", FormMethod.Post))
    {
        <div class="mh-body-title">
            @Html.Label("Tiêu đề:", new { @class = "mh-create-label" })<br />
            @Html.TextBoxFor(m => m.Title, new { @class = "mh-create-input", @placeholder = "Nhập tiêu đề..." })
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="mh-ckeditor">
            @Html.Label("Nội dung:", new { @class = "mh-create-label" })<br />
            @Html.TextAreaFor(model => model.Content, new { @class = "editor", @name = "editor1", @id = "editor1", @rows = "15", @cols = "80" })
            @Html.ValidationMessageFor(model => model.Content)
        </div>
        <div class="mh-preview">
            <button type="button" class="btn btn-info mh-preview-button">Xem trước</button>
            <div class="mh-preview-content">

            </div>
        </div>
        <div class="mh-create-privacy">
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-4">
                    @Html.Label("Ai thấy bài viết của bạn: ", new { @class = "mh-create-label" })<br />
                </div>
                <div class="col-sm-6 col-md-7 col-lg-8">
                    @Html.EnumDropDownListFor(m => m.Privacy, new { @id = "mh-mainpost-privacy" })
                </div>
            </div>
        </div>
        <div id="mh-input-tag-div">
            <label class="mh-create-label">Gắn thẻ cho câu hỏi: </label><br />

            <div class="mh-create-input mh-input-tag">
                <div id="mh-tag-list"></div>
                <div><input type="text" id="mh-input-tag" /></div>
                <i id="mh-create-tag" class="fa fa-plus-square" onclick="createTag()"></i>
            </div>
            <ul id="mh-tag-autocomplete-list"></ul>
        </div>
        <div id="mh-input-invite-div">
            <label class="mh-create-label">Mời bạn bè: </label><br />
            <input type="text" class="mh-create-input mh-input-tag" id="mh-input-invite" />
            <span class="mh-tag-list"></span>
            <ul id="mh-invite-autocomplete-list"></ul>
        </div>
        <div class="mh-create-div">
            <button type="submit" class="btn btn-success btn-lg mh-create-button">Đăng</button>
        </div>
    }
</div><!-- Body content Mid: end  -->
<input id="mh-page" type="hidden" value="@ViewBag.MhPage" />
@section LeftPanel
{
    @if (Request.IsAuthenticated)
    {
        @Html.Action("ProfileWidget", new { controller = "CommonWidget" })
        @*@Html.Action("FavoriteTagWidget", new { controller = "CommonWidget" })
            @Html.Action("SubscriptionWidget", new { controller = "CommonWidget" })*@
        @Html.Partial("../CommonWidget/Mockups/_LeftSectionMockup")
    }
}
