@using CP_MathHub.Models.Discussion
@model DiscussionHomeViewModel
@{
    ViewBag.Title = "Thảo Luận";
    ViewBag.MhPage = "discussion-home";
    ViewBag.CreatedDateType = "đăng";
    Layout = "~/Views/Discussion/Layouts/_DiscussionHomeLayout.cshtml";
}
<div class="mh-top-content">
    <div class="row">
        <div class="col-md-10 mh-content-title">
            <h3>@Model.Name</h3>
        </div>
    </div>
</div>

@Html.Partial("Partials/_NavPartialView", new ViewDataDictionary {{"Title", "Các chủ đề"}})

<input id="tab" type="hidden" value="@ViewBag.Tab" />
<input id="system" type="hidden" value="@ViewBag.System" />
<input id="tab-param" type="hidden" value="@ViewBag.TabParam" />
<input id="mh-page" type="hidden" value="@ViewBag.MhPage" />

@Html.Partial("Partials/_DiscussionListTagPartialView", Model.Items)

@section LeftPanel
{
    @Html.Action("ProfileWidget", new { controller = "CommonWidget" })
    @*@Html.Action("FavoriteTagWidget", new { controller = "CommonWidget" })
        @Html.Action("SubscriptionWidget", new { controller = "CommonWidget" })*@
    @Html.Partial("../CommonWidget/Mockups/_LeftSectionMockup")
}
@section RightPanel
{
    @Html.Partial("../CommonWidget/Mockups/_RightSectionMockup")
    @*@Html.Action("PostProblemWidget", new { controller = "CommonWidget" })
        <hr />
        @Html.Action("MySubscriptionWidget", new { controller = "CommonWidget" })
        <hr />
        @Html.Action("NewBlogWidget", new { controller = "CommonWidget" })*@
}
