@model CP_MathHub.Models.Discussion.DiscussionDetailViewModel
@using CP_MathHub.Core.Configuration
@using CP_MathHub.Service.Helpers
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@{
    ViewBag.Title = Model.Title;
    ViewBag.MhPage = Constant.String.DiscussionDetailPage;
    ViewBag.CreatedDateType = "đăng";
    Layout = "~/Views/Discussion/Layouts/_DiscussionDetailLayout.cshtml";
}
<div class="mh-top-content">
    <div class="row">
        <div class="col-md-10 mh-content-title">
            <h3>@Model.Name</h3>
        </div>
    </div>
</div>
@Html.Partial("Partials/_NavPartialView")
<div class="mh-discussion-posts">
    <div class="panel panel-info mh-discussion-post">
        <div class="panel-heading">
            <div class="mh-user-info">
                @Html.Partial("../CommonWidget/_UserInfoPartialView", @Model.UserInfo)
                @Html.Partial("../CommonWidget/_PostSettingPartialView", new ViewDataDictionary { { "PostId", Model.Id }, { "PostType", "discussion" }, { "Status", Model.Status }, { "UserId", Model.UserId } })
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="mh-content-detail">
                    <a href="@Url.Action("Detail",new{id = Model.Id})">@Model.Title</a>
                    @if (User.Identity.GetUserId<int>() != Model.UserId)
                    {
                        <i id="bookmarked-@Model.Id" onclick="unBookmark(@Model.Id, 'discussion')" class="fa fa-star mh-bookmarked-icon @(Model.Bookmarked ? "":"hidden")"></i>
                        <i id="bookmark-@Model.Id" onclick="bookmark(@Model.Id,  'discussion')" class="fa fa-star-o mh-bookmark-icon @(Model.Bookmarked ? "hidden" : "")"></i>
                    }
                    <div class="mh-sort-content">
                        @{
                            int length = Model.Title.Length > 50 ? 431 : 571;
                            if (Model.Content.Length > length)
                            {
                                @Html.Raw(Model.Content);
                            <br />
                            <a onclick="@("seeMore(this)")" class="mh-seemore">Xem thêm</a>
                            }
                            else
                            {
                                @Html.Raw(Model.Content);
                            }
                        }
                    </div>
                    <div class="mh-full-content hidden">
                        @if (Model.Content.Length > length)
                        {
                            @Html.Raw(Model.Content)
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 mh-social-report">
                    <a target="_blank" title="Chia sẻ facebook" href="http://www.facebook.com/sharer.php?u=file:///D:/Capstone/CP-MathHub/code/frontend/MathHub/detail.html">
                        <img src="~/Content/img/social_fb_s.png" class="mh-share-facebook mh-share-facebook-button" alt="Chia sẻ facebook" />
                        <div class="mh-share-facebook">
                            <div class="pluginCountButton pluginCountNum">
                                <span class="pluginCountTextConnected">123</span>
                                <span class="pluginCountTextDisconnected">123</span>
                            </div>
                            <div class="pluginCountButtonNub">
                                <s></s>
                                <i></i>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="mh-report-button" title="Báo cáo vi phạm" data-toggle="modal" data-target="#report-post">
                        <i class="fa fa-flag"></i> Báo vi phạm
                    </a>
                    <div>
                        <!-- Modal: start -->
                        <div id="report-post" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Báo cáo vi phạm</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Bà xã em number 1
                                            </label><br />
                                            <label>
                                                <input type="checkbox"> Milu sủa gâu gâu
                                            </label><br />
                                            <label>
                                                <input type="checkbox"> hello world
                                            </label><br />
                                            <label>
                                                <input type="checkbox"> The world is shit
                                            </label><br />
                                            <label>
                                                <input type="checkbox"> Lý do khác
                                            </label><br />
                                        </div>
                                        <div class="mh-report-cause">
                                            <label>Mô tả:</label><br />
                                            <input type="text" placeholder="Nhập mô tả..." />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        <button type="button" class="btn btn-primary">Gửi báo cáo</button>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Modal: end -->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                    <ul class="list-inline mh-list-tags mh-list-tags-right">
                        @foreach (var tag in Model.Tags)
                        {
                            <li>@Html.Partial("../CommonWidget/_TagPartialView", tag)</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="mh-pre-comment">
            <a class="mh-like" onclick="like(@Model.Id, this)">@(Model.Liked ? "Bỏ thích" : "Thích")</a>
            <span class="mh-comment-separator">-</span>
            <a href="">Bình luận</a>
            -
            <a href="" class="mh-comment-like">
                <i class="fa fa-thumbs-o-up"></i>
                <span class="like">@Model.Like</span>
                <i class="fa fa-comment"></i>
                <span class="comment">@Model.Comments.Count</span>
            </a>
        </div>
        @if (Model.Status == CP_MathHub.Entity.PostStatusEnum.Active)
        {
            <div class="mh-user-comment">
                <div class="media mh-input-commnent-div">
                    <div class="media-left">
                        <img src="~/Content/img/user.jpg" alt="..." class="mh-user-icon">
                    </div>
                    <div class="media-body">
                        <div class="mh-comment-input-send">
                            <input type="text" class="mh-media-comment-input mh-input-comment" placeholder="Viết bình luận...">
                            <input type="hidden" class="post-id" value="@Model.Id" />
                            <input type="hidden" class="type" value="comment" />
                            <a href=""><i class="fa fa-paper-plane mh-commnet-send"></i></a>
                        </div>
                    </div>
                </div>
                @if (Model.Comments.Count > 5)
                {
                    <div class="mh-comment-list">
                        @Html.Partial("../CommonWidget/_CommentListPartialView", Model.Comments.OrderBy(m => m.CreatedDate).ToList().Take(5))
                    </div>
                    <div class="mh-comment-list-full hidden">
                        @Html.Partial("../CommonWidget/_CommentListPartialView", Model.Comments.OrderBy(m => m.CreatedDate).ToList())
                    </div>
                    <div class="mh-media-see-more">
                        <a class="mh-seemore-comment" onclick="@("seemore(this)")">
                            Xem @(Model.Comments.Count - 5) bình luận
                        </a>
                    </div>
                }
                else
                {
                    <div class="mh-comment-list-full">
                        @Html.Partial("../CommonWidget/_CommentListPartialView", Model.Comments.OrderBy(m => m.CreatedDate).ToList())
                    </div>
                }
            </div>
        }
        else
        {
            <div class="mh-user-comment">
                Chức năng bình luận đã khóa
            </div>
        }
    </div>
</div>
<input id="system" type="hidden" value="@ViewBag.System" />
<input id="mh-page" type="hidden" value="@ViewBag.MhPage" />
@section LeftPanel
{
    @if (Request.IsAuthenticated)
    {
        @Html.Action("ProfileWidget", new { controller = "CommonWidget" })
        @*@Html.Action("FavoriteTagWidget", new { controller = "CommonWidget" })
            @Html.Action("SubscriptionWidget", new { controller = "CommonWidget" })*@
        @Html.Partial("../CommonWidget/Mockups/_LeftSectionMockup")
    }
}
@section RightPanel
{
    @Html.Partial("../CommonWidget/Mockups/_RightSectionMockup")
    @*@Html.Action("PostProblemWidget", new { controller = "CommonWidget" })
        <hr />
        @Html.Action("MySubscriptionWidget", new { controller = "CommonWidget" })
        <hr />
        @Html.Action("NewBlogWidget", new { controller = "CommonWidget" })*@
}
