@using CP_MathHub.Models.Discussion
@model CategoryViewModel
@{
    ViewBag.Title = @Model.Name;
    ViewBag.MhPage = "discussion-category";
    ViewBag.CreatedDateType = "đăng";
    Layout = "~/Views/Discussion/Layouts/_DiscussionTagHomeLayout.cshtml";
}
<div class="mh-top-content">
    <div class="row">
        <div class="col-md-10 mh-content-title">
            <h3>THẢO LUẬN</h3>
        </div>
    </div>
</div>

@Html.Partial("Partials/_NavPartialView", new ViewDataDictionary { { "Name", @Model.Name } })

<input id="tab" type="hidden" value="@ViewBag.Tab" />
<input id="system" type="hidden" value="@ViewBag.System" />
<input id="tab-param" type="hidden" value="@ViewBag.TabParam" />
<input id="mh-page" type="hidden" value="@ViewBag.MhPage" />
<div class="row">
    @using (Html.BeginForm("CategoryIndex", "Discussion", FormMethod.Post))
    {

        <div class="mh-create-fast">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Đăng nhanh
            </button>
            <div class="collapse" id="collapseExample">
                <div class="well">
                    <div class="mh-create-title">
                        @Html.TextBoxFor(m => m.Tile, new { @class = "mh-create-input", @placeholder = "Nhập tiêu đề..." })
                        @Html.ValidationMessageFor(model => model.Tile)
                    </div>
                    <div class="mh-ckeditor">
                        @Html.TextAreaFor(model => model.Content, new { @class = "editor", @name = "editor1", @id = "fast-editor", @rows = "15", @cols = "80" })
                        @Html.ValidationMessageFor(model => model.Content)
                    </div>
                    <input type="hidden" name="tagId" value="@Model.Id" />
                    <div class="mh-create-div">
                        <button type="submit" class="btn btn-success btn-lg mh-create-button">Đăng</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="mh-discussion-posts" id="list-discussions">
    @Html.Partial("Partials/_DiscussionListPartialView", Model.Items)
</div>
<div id="history-edit" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
</div>
@section LeftPanel
{
    @if (Request.IsAuthenticated)
    {
        @Html.Action("ProfileWidget", new { controller = "CommonWidget" })
        @*@Html.Action("FavoriteTagWidget", new { controller = "CommonWidget" })
            @Html.Action("SubscriptionWidget", new { controller = "CommonWidget" })*@
        @Html.Partial("../CommonWidget/Mockups/_LeftSectionMockup")
    }
}
@section RightPanel
{
    @Html.Partial("../CommonWidget/Mockups/_RightSectionMockup", new ViewDataDictionary { { "tagId", Model.Id }, { "System", ViewBag.System } })
    @*@Html.Action("PostProblemWidget", new { controller = "CommonWidget" })
        <hr />
        @Html.Action("MySubscriptionWidget", new { controller = "CommonWidget" })
        <hr />
        @Html.Action("NewBlogWidget", new { controller = "CommonWidget" })*@
    @Html.Action("HotMainPost", "CommonWidget", new { system = "Blog" })
    @Html.Action("HotMainPost", "CommonWidget", new { system = "Question" })
}
