@using CP_MathHub.Models.Account
@model ChangePasswordViewModel
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { role = "form" }))
{
    <div class="row mh-profile-info-row">
        <div class="col-xs-3">
            <label>Mật khẩu</label>
        </div>
        <div class="col-xs-5">
            <a class="mh-pass-edit-button" mh-type="password">
                Thay đổi mật khẩu
            </a>
            
        </div>
        <span class="text-danger">@ViewBag.Message</span>
        <div class="col-xs-9 mh-pass-change">
            <div>
                <lable>Mật khẩu hiện tại:</lable><br />
                @Html.PasswordFor(m => m.Password)
            </div>
            <div>
                <lable>Mật khẩu mới:</lable><br />
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
            <div style="margin-bottom: 5px;">
                <lable>Nhập lại mật khẩu mới:</lable><br />
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div>
                <input type="hidden" name="Property" value="Password" />
                <button type="submit" class="btn btn-primary mh-pass-save-change">Lưu thay đổi</button>
                <button type="button" class="btn btn-default mh-pass-cancel" mh-type="password">Hủy</button>
            </div>
        </div>
    </div>
}
