@using CP_MathHub.Entity
@using CP_MathHub.Models.Account
@model List<UserItemViewModel>
@foreach (UserItemViewModel item in Model)
{
    <div class="media mh-profile-friend">
        <div class="media-left">
            <a href="@Url.Action("UserProfile", new {userId = item.User.Id })">
                <img class="mh-image-user-profile" src="@(item.User.Avatar != null ? Url.Content(item.User.Avatar.Url) : Url.Content("~/Content/img/user.jpg"))" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h5 class="media-heading"><a href="@Url.Action("UserProfile", new {userId = item.User.Id })">@item.User.UserName</a></h5>
        </div>
        <div class="media-right">
            @*<div class="btn-default">
                    @switch (item.RequestStatus)
                    {
                        case FriendStatusEnum.ActiveRequesting:
                            using (Html.BeginForm("CancelFriend", "Account", FormMethod.Post))
                            {
                                <div class="btn-group">
                                    <input type="hidden" name="targetUserId" value="@item.User.Id" />
                                    <input type="hidden" name="tab" value="allfriend" />
                                    <input type="hidden" name="returnPage" value="UserFriend" />
                                    <button type="submit" class="btn btn-default">
                                        <i class="fa fa-user-times"></i>
                                        Hủy lời mời kết bạn
                                    </button>
                                </div>
                            }
                            break;
                        case FriendStatusEnum.Friend:
                            using (Html.BeginForm("CancelFriend", "Account", FormMethod.Post))
                            {
                                <div class="btn-group">
                                    <input type="hidden" name="targetUserId" value="@item.User.Id" />
                                    <input type="hidden" name="tab" value="allfriend" />
                                    <input type="hidden" name="returnPage" value="UserFriend" />
                                    <button type="submit" class="btn btn-default">
                                        <i class="fa fa-check"></i>
                                        Bỏ bạn bè
                                    </button>
                                </div>
                            }
                            break;
                        case FriendStatusEnum.Blocked:
                            break;
                        case FriendStatusEnum.PasssiveRequesting:
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-plus"></i>
                                Trả lời lời mời kết bạn
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("AcceptFriendRequest", new { targetUserId = item.User.Id, tab ="allfriend", returnPage="UserFriend" })">Chấp nhận</a></li>
                                <li><a href="@Url.Action("CancelFriend", new { targetUserId = item.User.Id, tab = "allfriend", returnPage = "UserFriend" })">Từ chối</a></li>
                            </ul>
                        </div>
                            break;
                        case FriendStatusEnum.Stranger:
                            using (Html.BeginForm("SendFriendRequest", "Account", FormMethod.Post))
                            {
                                <div class="btn-group">
                                    <input type="hidden" name="targetUserId" value="@item.User.Id" />
                                    <input type="hidden" name="tab" value="allfriend" />
                                    <input type="hidden" name="returnPage" value="UserFriend" />
                                    <button type="submit" class="btn btn-default">
                                        <i class="fa fa-user-plus"></i>
                                        Thêm bạn
                                    </button>
                                </div>
                            }
                            break;
                        default:
                            break;
                    }
                </div>*@
            @using (Html.BeginForm("CancelFriend", "Account", FormMethod.Post))
            {
                <input type="hidden" name="targetUserId" value="@item.User.Id" />
                <input type="hidden" name="tab" value="allfriend" />
                <input type="hidden" name="returnPage" value="Friend" />
                <button type="submit" class="btn btn-default">
                    <i class="fa fa-user-times"></i>
                    Hủy kết bạn
                </button>
            }
        </div>
    </div>
}
