<div class="mh-banner">
    <a href="#">
        <img src="~/Content/img/CTV.jpg">
    </a>
</div>
@if (ViewBag.System != null)
{
    <div class="mh-btn">
        <a href="@Url.Action("Create", ViewBag.System)" class="btn btn-success">@(ViewBag.System == "Question" ? "Đặt câu hỏi" : @ViewBag.System == "Blog" ? "Tạo bài viết" : "Tạo thảo luận")</a>
        @*@if (@ViewBag.System == "Discussion")
        {
            @if (@ViewBag.MhPage == "discussion-home")
            {
                <a href="@Url.Action("Create", ViewBag.System, new { })" class="btn btn-succes">Tạo Thảo Luận</a>
            }
            else
            {
                <a href="@Url.Action("Create", ViewBag.System, new { })" class="btn btn-succes">Tạo Thảo Luận</a>
            }
        }*@
    </div>
}
else
{
    <div class="mh-btn">
        <a href="@Url.Action("Create", ViewData["System"].ToString(), new { @tagId = (ViewData["tagId"] != null? ViewData["tagId"] : "0")})" class="btn btn-success">@(ViewBag.System == "Question" ? "Đặt câu hỏi" : @ViewBag.System == "Blog" ? "Tạo bài viết" : "Tạo thảo luận")</a>
    </div>
}
<div class="panel panel-info mh-panel-recommend">
    <div class="panel-heading">Các thảo luận <span class="mh-hot">hot</span></div>
    <div class="panel-body mh-panel-recommend-body">
        <div class="mh-panel-recommend-row">
            <a href="#">
                <div class="row">
                    <div class="col-md-1 mh-panel-recommend-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="col-md-11 mh-panel-recommend-title">
                        Tại sao con số 0 lại là 1 phát minh vĩ đại?
                    </div>
                </div>
            </a>
        </div>
        <div class="mh-panel-recommend-row">
            <a href="#">
                <div class="row">
                    <div class="col-md-1 mh-panel-recommend-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="col-md-11 mh-panel-recommend-title">
                        Tại sao con số 0 lại là 1 phát minh vĩ đại?
                    </div>
                </div>
            </a>
        </div>
        <div class="mh-panel-recommend-row">
            <a href="#">
                <div class="row">
                    <div class="col-md-1 mh-panel-recommend-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="col-md-11 mh-panel-recommend-title">
                        Tại sao con số 0 lại là 1 phát minh vĩ đại?
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="panel panel-info mh-panel-recommend">
    <div class="panel-heading">Các bài viết <span class="mh-hot">hot</span></div>
    <div class="panel-body mh-panel-recommend-body">
        <div class="mh-panel-recommend-row">
            <a href="#">
                <div class="row">
                    <div class="col-md-1 mh-panel-recommend-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="col-md-11 mh-panel-recommend-title">
                        Định lí Pytago và áp dụng vào bài toán thực tế!
                    </div>
                </div>
            </a>
        </div>
        <div class="mh-panel-recommend-row">
            <a href="#">
                <div class="row">
                    <div class="col-md-1 mh-panel-recommend-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="col-md-11 mh-panel-recommend-title">
                        Định lí Pytago và áp dụng vào bài toán thực tế!
                    </div>
                </div>
            </a>
        </div>
        <div class="mh-panel-recommend-row">
            <a href="#">
                <div class="row">
                    <div class="col-md-1 mh-panel-recommend-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="col-md-11 mh-panel-recommend-title">
                        Định lí Pytago và áp dụng vào bài toán thực tế!
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
