<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="navbar navbar-default navbar-fixed-top" id="mh-header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed mh-navbar-toggle" data-toggle="collapse" data-target="#mh-header-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bar"></span>
                    <span class="fa fa-bar"></span>
                    <span class="fa fa-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img id="mh-logo" alt="Brand" src="Content/img/logoMain.png" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="mh-header-collapse">
                <ul class="nav navbar-nav" id="mh-nav-link">
                    <li class="mh-active"><a href="#">Hỏi Đáp <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Bài Viết</a></li>
                    <li><a href="#">Thảo Luận</a></li>
                </ul>
                @Html.Action("UserHeaderWidget", new { controller = "CommonWidget" })
                <ul class="nav navbar-nav navbar-right mh-notification">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="fa fa-globe"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right mh-notification">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="fa fa-comments"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right mh-notification">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="fa fa-group"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- 				<form class="navbar-form navbar-right" id="mh-search-header" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Tìm kiếm">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </form> -->

            </div><!-- /.navbar-collapse -->
        </div>
    </header>	
    <div class="container mh-body">
        @RenderBody()
    </div>
    <footer></footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/script")
    @RenderSection("scripts", required: false)
</body>
</html>
