@using CP_MathHub.Core.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)
    @*@RenderSection("styles", required: false)*@
    @Scripts.Render("~/bundles/modernizr")
    @*<link rel="stylesheet" type="text/css" href="~/Content/css/style-question.css" />*@
</head>
<body>
    <header class="navbar navbar-default navbar-fixed-top" id="mh-header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed mh-navbar-toggle" data-toggle="collapse" data-target="#mh-header-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (ViewBag.System == Constant.String.QuestionSystem)
                {
                    <a class="navbar-brand" href="@Url.Action("Index", "Question")">
                        <img id="mh-logo" alt="Brand" src="~/Content/img/logoMain.png" />
                    </a>
                }
                else if (ViewBag.System == Constant.String.BlogSystem)
                {
                    <a class="navbar-brand" href="@Url.Action("Index", "Blog")">
                        <img id="mh-logo" alt="Brand" src="~/Content/img/logo-blog.png" />
                    </a>
                }
                else if (ViewBag.System == Constant.String.DiscussionSystem)
                {
                    <a class="navbar-brand" href="@Url.Action("Index", "Discussion")">
                        <img id="mh-logo" alt="Brand" src="~/Content/img/logo-discussion.png" />
                    </a>
                }
                else
                {
                    <a class="navbar-brand" href="@Url.Action("Index", "Question")">
                        <img id="mh-logo" alt="Brand" src="~/Content/img/logoMain.png" />
                    </a>
                }
            </div>
            <div class="collapse navbar-collapse" id="mh-header-collapse">
                @if (ViewBag.MhPage != "home")
                {
                    <ul class="nav navbar-nav" id="mh-nav-link">
                        <li class="@(ViewBag.System == Constant.String.QuestionSystem ? "mh-active" : "")">
                            <a href="@Url.Action("Index", "Question")">
                                Hỏi Đáp
                                @if (ViewBag.System == Constant.String.QuestionSystem)
                                {
                                    <span class="sr-only">(current)</span>
                                }
                            </a>
                        </li>
                        <li class="@(ViewBag.System == Constant.String.BlogSystem ? "mh-active" : "")">
                            <a href="@Url.Action("Index", "Blog")">
                                Bài Viết
                                @if (ViewBag.System == Constant.String.BlogSystem)
                                {
                                    <span class="sr-only">(current)</span>
                                }
                            </a>
                        </li>
                        <li class="@(ViewBag.System == Constant.String.DiscussionSystem ? "mh-active" : "")">
                            <a href="@Url.Action("Index", "Discussion")">
                                Thảo Luận
                                @if (ViewBag.System == Constant.String.DiscussionSystem)
                                {
                                    <span class="sr-only">(current)</span>
                                }
                            </a>
                        </li>
                    </ul>
                }
                @Html.Action("UserHeaderWidget", new { controller = "CommonWidget" })
                @*@Html.Partial("../CommonWidget/Mockups/_NotificationMockup")*@
                <!-- 				<form class="navbar-form navbar-right" id="mh-search-header" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Tìm kiếm">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </form> -->
            </div><!-- /.navbar-collapse -->
        </div>
    </header>
    <div class="container mh-body @(ViewBag.MhPage == "home" ? "mh-body-home" : "")">
        @RenderBody()
    </div>
    <!-- Chat: start -->
    <div class="mh-chat" id="mh-chat">
    </div>
    @*<div class="mh-chat-popups">
        <div class="mh-chat-popup" style="right: 220px;">
            <div class="mh-chat-popup-head">
                <div class="mh-chat-popup-name">
                    <h4>
                        <i class="fa fa-circle mh-chat-status-icon-on"></i>
                        <a href="">Văn Tâm 1</a>
                    </h4>
                </div>
                <div class="mh-chat-popup-button-head">
                    <a class="mh-chat-popup-add-friend-icon" data-toggle="tooltip" data-placement="top" title="Thêm bạn bè khác vào cuộc trò chuyện">
                        <i class="fa fa-user-plus mh-chat-popup-head-icon"></i>
                    </a>
                    <a class="mh-chat-popup-setting" data-placement="top" title="Tùy chọn">
                        <i class="fa fa-cog mh-chat-popup-head-icon"></i>
                    </a>
                    <ul class="mh-chat-popup-setting-show hidden">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                    <a href="" data-toggle="tooltip" data-placement="top" title="Đóng tab">
                        <i class="fa fa-close mh-chat-popup-head-icon"></i>
                    </a>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="mh-chat-popup-body">
                <div class="mh-chat-popup-add-friend">
                    <input type="text" class="mh-chat-popup-input-add-more" placeholder="Thêm bạn bè vào cuộc trò chuyện" />
                    <button class="btn btn-danger mh-chat-popup-button-add-done">Xong</button>
                </div>
                <div class="mh-chat-popup-content">
                    <div class="mh-chat-popup-content-row">
                        <div class="row">
                            <div class="mh-chat-user-image">
                                <a href="#">
                                    <img class="mh-user-icon" src="img/user.jpg" alt="...">
                                </a>
                            </div>
                            <div class="popover right">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mh-chat-popup-content-row">
                        <div class="row">
                            <div class="popover left">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mh-chat-popup-content-row">
                        <div class="row">
                            <div class="mh-chat-user-image">
                                <a href="#">
                                    <img class="mh-user-icon" src="img/user.jpg" alt="...">
                                </a>
                            </div>
                            <div class="popover right">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <p>uhm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mh-chat-popup-content-row">
                        <div class="row">
                            <div class="popover left">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <p>ok</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mh-chat-popup-inputs">
                    <input type="text" class="mh-chat-popup-input" />
                    <a>
                        <i class="fa fa-smile-o mh-chat-popup-footer-icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="mh-chat-popup" style="right: 497px;">
            <div class="mh-chat-popup-head">
                <div class="mh-chat-popup-name">
                    <h4>
                        <i class="fa fa-circle mh-chat-status-icon-on"></i>
                        <a href="">Văn Tâm 1</a>
                    </h4>
                </div>
                <div class="mh-chat-popup-button-head">
                    <a class="mh-chat-popup-add-friend-icon" data-toggle="tooltip" data-placement="top" title="Thêm bạn bè khác vào cuộc trò chuyện">
                        <i class="fa fa-user-plus mh-chat-popup-head-icon"></i>
                    </a>
                    <a class="mh-chat-popup-setting" data-placement="top" title="Tùy chọn">
                        <i class="fa fa-cog mh-chat-popup-head-icon"></i>
                    </a>
                    <ul class="mh-chat-popup-setting-show hidden">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                    <a href="" data-toggle="tooltip" data-placement="top" title="Đóng tab">
                        <i class="fa fa-close mh-chat-popup-head-icon"></i>
                    </a>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="mh-chat-popup-body">
                <div class="mh-chat-popup-add-friend">
                    <input type="text" class="mh-chat-popup-input-add-more" placeholder="Thêm bạn bè vào cuộc trò chuyện" />
                    <button class="btn btn-danger mh-chat-popup-button-add-done">Xong</button>
                </div>
                <div class="mh-chat-popup-content"></div>
                <div class="mh-chat-popup-inputs">
                    <input type="text" class="mh-chat-popup-input" />
                    <a>
                        <i class="fa fa-smile-o mh-chat-popup-footer-icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="mh-chat-popup" style="right: 774px;">
            <div class="mh-chat-popup-head">
                <div class="mh-chat-popup-name">
                    <h4>
                        <i class="fa fa-circle mh-chat-status-icon-on"></i>
                        <a href="">Văn Tâm 1</a>
                    </h4>
                </div>
                <div class="mh-chat-popup-button-head">
                    <a class="mh-chat-popup-add-friend-icon" data-toggle="tooltip" data-placement="top" title="Thêm bạn bè khác vào cuộc trò chuyện">
                        <i class="fa fa-user-plus mh-chat-popup-head-icon"></i>
                    </a>
                    <a class="mh-chat-popup-setting" data-placement="top" title="Tùy chọn">
                        <i class="fa fa-cog mh-chat-popup-head-icon"></i>
                    </a>
                    <ul class="mh-chat-popup-setting-show hidden">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                    <a href="" data-toggle="tooltip" data-placement="top" title="Đóng tab">
                        <i class="fa fa-close mh-chat-popup-head-icon"></i>
                    </a>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="mh-chat-popup-body">
                <div class="mh-chat-popup-add-friend">
                    <input type="text" class="mh-chat-popup-input-add-more" placeholder="Thêm bạn bè vào cuộc trò chuyện" />
                    <button class="btn btn-danger mh-chat-popup-button-add-done">Xong</button>
                </div>
                <div class="mh-chat-popup-content"></div>
                <div class="mh-chat-popup-inputs">
                    <input type="text" class="mh-chat-popup-input" />
                    <a>
                        <i class="fa fa-smile-o mh-chat-popup-footer-icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>*@
    <!-- Chat: end -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 mh-footer-info">
                    <h2>Thông tin</h2>
                    <div class="mh-footer-info-content">
                        <p>
                            MathHub là trang web về TOÁN HỌC tại VIỆT NAM. Trang web gồm có ba hệ thống chính là: Hỏi đáp, Blog, Thảo luận. Trang web muốn tạo môi trường cho người dùng làm chủ hệ thống, người dùng sẽ tự tạo mạng lưới của mình, thảo luận với các câu hỏi, blog, chủ đề... liên quan đến toán học.
                        </p>
                        <p>
                            MathHub mong muốn sẽ trở thành một trang web chuyên giải đáp các thắc mắc về toán học và giúp cho toán học tại Việt Nam trở nên dễ dàng hơn.
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 mh-footer-social">
                    <h2>Social media</h2>
                    <a href="#">
                        <img src="~/Content/img/icon-facebook.ico">
                    </a>
                    <a href="#">
                        <img src="~/Content/img/icon-google.ico">
                    </a>
                    <a href="#">
                        <img src="~/Content/img/icon-twitter.ico">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 mh-footer-contact">
                    <h2>Trung tâm hỗ trợ</h2>
                    <address class="margin-bottom-40">
                        <a href="@Url.Action("Contact","Home")">
                            Ý kiến phản hồi và Thông tin liên hệ
                        </a><br />
                        <a href="@Url.Action("Rule","Home")">
                            Quy định của hệ thống MathHub
                        </a>
                    </address>
                </div>
            </div>
        </div>
    </footer>
    <div class="mh-copyright">
        <div class="mh-copyright-content">
            2015 © MathHub Team
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/realtimejs")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/script")
    @RenderSection("scripts", required: false)
    <script>
        var realTime;
        $(function () {
            // Reference the auto-generated proxy for the hub.
            realTime = $.connection.realTimeHub;

            // Create a function that the hub can call back to display messages.
            realTime.client.addChatMessage = function (profileUrl, avatarUrl, username, content, time) {
                realTime.server.getNewMessageNum();
                var result = '<div class="media mh-profile-chat-detail-row">'
                                + '<div class="media-left">'
                                     + '<a href="' + profileUrl + '">'
                                        + '<img class="media-object mh-user-icon" src="' + avatarUrl + '" alt="...">'
                                     + '</a>'
                                + '</div>'
                                + '<div class="media-body">'
                                     + '<a href="' + profileUrl + '">'
                                         + '<h5 class="media-heading">' + username + '</h5>'
                                     + '</a>'
                                     + '<span>' + content + '</span>'
                                + '</div>'
                                + '<div class="media-right">'
                                      + time
                                + '</div>'
                            + '</div>';
                $(".mh-profile-chat-detail").append(result);
                scrollToBottom();
            }


            // Check online conversation
            realTime.client.checkOnlineTrigger = function (id, cssClass) {
                $('.conversation-status-' + id).attr("class", cssClass);
            }

            realTime.client.notifyNewFriendRequest = function (count) {
                if (count != 0) {
                    $("#mh-request-number").html(count);
                    $("#mh-request-number").removeClass("hidden");
                }
            }

            realTime.client.notifyNewMessage = function (count) {
                if (count != 0) {
                    $("#mh-message-number").html(count);
                    $("#mh-message-number").removeClass("hidden");
                }
            }

            realTime.client.notifyNewActivity = function (count) {
                if (count != 0) {
                    $("#mh-activity-number").html(count);
                    $("#mh-activity-number").removeClass("hidden");
                }
            }

            realTime.client.showOnlineFriends = function (json) {
                var array = JSON.parse(json);
                console.log(json);
                console.log(array);
                $.ajax({
                    method: "POST",
                    url: "/CommonWidget/GetOnlineConversation",
                    data: { ids: array }
                })
                .done(function (msg) {
                    if (msg != "\n")
                        $("#mh-chat").html(msg);
                })
                .fail(function () {

                });
            }

            realTime.client.getOnlineFriends = function () {
                realTime.server.getOnlineFriends();
            }

            // Start the connection.
            $.connection.hub.start().done(function () {
                $('.mh-profile-chat-footer-textarea').keypress(function (e) {
                    if (e.keyCode === 13) {
                        e.preventDefault();
                        e.stopPropagation();
                        if ($(this).val().trim() != "") {
                            realTime.server.sendToConversation($(this).val(), $(this).attr("mh-id"));
                            scrollToBottom();
                            $(this).val("").focus();
                        }
                    }
                });
            });
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
        //function renderMessage(profileUrl, avatarUrl, username, content, time)
        //function checkOnlineTrigger(cssClass)
        function checkOnline(id) {
            realTime.server.checkOnline(id);
        }
    </script>
    <script>
        function buildUnFriendButton(id) {
            return '<button type="button" class="btn btn-primary dropdown-toggle mh-profile-friend-button" onclick="cancelFriendHover(this,'+id+')">'
            + '<i class="fa fa-check"></i>' + 'Hủy bạn bè' + '</button>'
        }
        function buildCancelFriendRequestButton(id) {
            return '<button type="button" class="btn btn-default mh-profile-friend-button" onclick="cancelFriendHover(this, ' + id + ')">'
            + '<i class="fa fa-user-plus"></i>'
            + 'Hủy lời mời kết bạn'
            + '</button>'
        }
        //function buildConfirmedFriendButton(id) {
        //    return '<button type="button" class="btn btn-default dropdown-toggle mh-profile-friend-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">'
        //    + '<i class="fa fa-user-plus"></i>'
        //    + 'Trả lời lời mời kết bạn'
        //    + '<span class="caret"></span>'
        //    + '</button>'
        //    + '<ul class="dropdown-menu">'
        //    + '<li><button type="button" class="btn-default" onclick="acceptFriendHover(this,'+id+')">Chấp nhận</button></li>'
        //    + '<li><button type="button" class="btn-default" onclick="denyFriendRequestHover(this, '+id+')">Từ Chối</button></li>'
        //    + '</ul>'
        //}
        function buildSendFriendRequestButton(id) {
            return '<button type="button" class="btn btn-primary mh-profile-friend-button" onclick="sendFriendRequestHover(this,' + id + ')">'
            + '<i class="fa fa-user-plus"></i>' + 'Kết bạn' + '</button>'
        }
        function buildUnFollowUserButton(id) {
            return '<button type="button" class="btn btn-default" onclick="unFollowUserHover(this, '+id+')">'
            + '<i class="fa fa-check"></i>'
            + 'Bỏ theo dõi'
            + '</button>'
        }
        function buildFollowUserButton(id) {
            return '<button type="button" class="btn btn-default" onclick="followUserHover(this, '+id+')">'
            + '<i class="fa fa-rss"></i>'
            + 'Theo dõi'
            + '</button>'
        }
        function acceptFriendHover(item, id) {
            $.ajax({
                method: "POST",
                url: "/Account/AcceptFriendRequest",
                data: { targetUserId: id }
            })
            .done(function (msg) {
                if (msg != "" && msg != "\n") {
                    $(item).parent().parent().parent().html(buildUnFriendButton(id));
                } else {
                    alert("Có sự cố hệ thống. Hãy thử lại.");
                }
            })
            .fail(function () {
                alert("Có sự cố về mạng. Hãy thử lại sau.");
            });
        }
        function sendFriendRequestHover(item, id) {
            $.ajax({
                method: "POST",
                url: "/Account/SendFriendRequest",
                data: { targetUserId: id }
            })
            .done(function (msg) {
                if (msg != "" && msg != "\n") {
                    $(item).parent().html(buildCancelFriendRequestButton(id));
                } else {
                    alert("Có sự cố hệ thống. Hãy thử lại.");
                }
            })
            .fail(function () {
                alert("Có sự cố về mạng. Hãy thử lại sau.");
            });
        }
        function cancelFriendHover(item, id) {
            $.ajax({
                method: "POST",
                url: "/Account/CancelFriend",
                data: { targetUserId: id }
            })
            .done(function (msg) {
                if (msg != "" && msg != "\n") {
                    $(item).parent().html(buildSendFriendRequestButton(id));
                } else {
                    alert("Có sự cố hệ thống. Hãy thử lại.");
                }
            })
            .fail(function () {
                alert("Có sự cố về mạng. Hãy thử lại sau.");
            });
        }
        function denyFriendRequestHover(item, id) {
            $.ajax({
                method: "POST",
                url: "/Account/CancelFriend",
                data: { targetUserId: id }
            })
            .done(function (msg) {
                if (msg != "" && msg != "\n") {
                    $(item).parent().parent().parent().html(buildSendFriendRequestButton(id));
                } else {
                    alert("Có sự cố hệ thống. Hãy thử lại.");
                }
            })
            .fail(function () {
                alert("Có sự cố về mạng. Hãy thử lại sau.");
            });
        }
        function followUserHover(item, id) {
            $.ajax({
                method: "POST",
                url: "/Account/FollowFriend",
                data: { targetUserId: id }
            })
            .done(function (msg) {
                if (msg != "" && msg != "\n") {
                    $(item).parent().html(buildUnFollowUserButton(id));
                } else {
                    alert("Có sự cố hệ thống. Hãy thử lại.");
                }
            })
            .fail(function () {
                alert("Có sự cố về mạng. Hãy thử lại sau.");
            });
        }
        function unFollowUserHover(item, id) {
            $.ajax({
                method: "POST",
                url: "/Account/UnFollowFriend",
                data: { targetUserId: id }
            })
            .done(function (msg) {
                if (msg != "" && msg != "\n") {
                    $(item).parent().html(buildFollowUserButton(id));
                } else {
                    alert("Có sự cố hệ thống. Hãy thử lại.");
                }
            })
            .fail(function () {
                alert("Có sự cố về mạng. Hãy thử lại sau.");
            });
        }
        function acceptFriend(e, item, id) {
            e.preventDefault();
            e.stopPropagation();
            $.ajax({
                method: "POST",
                url: "/Account/AcceptFriendRequest",
                data: { targetUserId: id }
            })
            .done(function (msg) {
                if (msg != "" && msg != "\n") {
                    $(item).addClass("hidden");
                    $(item).siblings("button").addClass("hidden");
                    $(item).siblings("span").removeClass("hidden").text("Bạn bè");
                } else {
                    alert("Có sự cố hệ thống. Hãy thử lại.");
                }
            })
            .fail(function () {
                alert("Có sự cố về mạng. Hãy thử lại sau.");
            });
        }

        function refuseFriend(e, item, id) {
            e.preventDefault();
            $.ajax({
                method: "POST",
                url: "/Account/CancelFriend",
                data: { targetUserId: id }
            })
            .done(function (msg) {
                if (msg != "" && msg != "\n") {
                    $(item).addClass("hidden");
                    $(item).siblings("button").addClass("hidden");
                    $(item).siblings("span").removeClass("hidden").text("Đã từ chối");
                } else {
                    alert("Có sự cố hệ thống. Hãy thử lại.");
                }
            })
            .fail(function () {
                alert("Có sự cố về mạng. Hãy thử lại sau.");
            });
        }

        function loadFriendRequestNotification() {
            $.ajax({
                method: "POST",
                url: "/CommonWidget/FriendRequestNotification",
                data: {}
            })
            .done(function (msg) {
                $("#mh-request-notification").html(msg);
                $("#mh-request-number").addClass("hidden");
                $("#mh-request-number").html(0);
                realTime.server.refreshRequestNum();
            })
            .fail(function () {
                alert("Có sự cố về mạng. Hãy thử lại sau.");
            });
        }

        function loadMessageNotification() {
            $.ajax({
                method: "POST",
                url: "/CommonWidget/MessageNotification",
                data: {}
            })
            .done(function (msg) {
                $("#mh-message-notification").html(msg);
                $("#mh-message-number").addClass("hidden");
                $("#mh-message-number").html(0);
                realTime.server.refreshMessageNum();
            })
            .fail(function () {
                alert("Có sự cố về mạng. Hãy thử lại sau.");
            });
        }

        function loadActivityNotification() {
            $.ajax({
                method: "POST",
                url: "/CommonWidget/ActivityNotification",
                data: {}
            })
            .done(function (msg) {
                $("#mh-activity-notification").html(msg);
                $("#mh-activity-number").addClass("hidden");
                $("#mh-activity-number").html(0);
                realTime.server.refreshActivityNum();
            })
            .fail(function () {
                alert("Có sự cố về mạng. Hãy thử lại sau.");
            });
        }

        function resetMessageNum() {
            $("#mh-message-number").addClass("hidden");
            $("#mh-message-number").html(0);
            realTime.server.refreshMessageNum();
        }
    </script>
    <script>
        $(document).ready(function () {
            var timeoutHover;
            $(".mh-hover-user").each(function () {
                var item = $(this);
                var info = item.parents(".mh-hover-user-only").find(".mh-user-hover");
                item.mouseover(function () {
                    clearTimeout(timeoutHover);
                    timeoutHover = setTimeout(
                            function () { $(info).slideDown(); },
                            500
                        );
                });
                item.mouseout(function () {
                    clearTimeout(timeoutHover);
                    timeoutHover = setTimeout(
                            function () { $(info).slideUp(); },
                            100
                        );
                });
            });
        });
    </script>
</body>
</html>
