@using CP_MathHub.Models.Common
@using CP_MathHub.Service.Helpers
@model CommentViewModel
<div class="media mh-comment-div">
    <div class="media-left">
        <img src="~/Content/img/user.jpg" alt="..." class="mh-user-icon">
    </div>
    <div class="media-body">
        <div class="media-heading">
            <a href="" class="mh-media-comment-user">@Model.Username</a>
            <span>@Model.Content</span>
        </div>
        <div>
            <a class="mh-like" onclick="like(@Model.Id, this)">@(Model.Liked ? "Bỏ thích" : "Thích")</a>
            <span class="mh-comment-separator">-</span>
            <a href="">Trả lời</a>
            -
            <a href="" title="Lượt thích" class="mh-comment-like">
                <i class="fa fa-thumbs-o-up"></i>
                <span class="like">@Model.Like</span>
            </a>
            -
            <span class="mh-time">@Html.PostCreatedTime(Model.CreatedDate, "bình luận")</span>
        </div>
        @if (Model.Comments.Count > 3)
        {
            <div class="mh-comment-list">
                @Html.Partial("../CommonWidget/_ReplyListPartialView", Model.Comments.Take(3).ToList())
            </div>
            <div class="mh-comment-list-full hidden">
                @Html.Partial("../CommonWidget/_ReplyListPartialView", Model.Comments)
            </div>
            <div class="mh-media-see-more">
                <a class="mh-seemore-comment" onclick="seemore(this)">
                    Xem thêm @(Model.Comments.Count - 3) trả lời
                </a>
            </div>
        }
        else
        {
            <div class="mh-comment-list-full">
                @Html.Partial("../CommonWidget/_ReplyListPartialView", Model.Comments)
            </div>
        }

        <div class="media mh-input-commnent-div">
            <div class="media-left">
                <img src="~/Content/img/user.jpg" alt="..." class="mh-user-small">
            </div>
            <div class="media-body">
                <div class="mh-comment-input-send">
                    <input type="text" class="mh-media-reply-input mh-input-comment" placeholder="Viết trả lời..." />
                    <input type="hidden" class="post-id" value="@Model.Id"/>
                    <input type="hidden" class="type" value="reply" />
                    <a href=""><i class="fa fa-paper-plane mh-rely-send"></i></a>
                </div>
            </div>
        </div>

    </div>
    <div class="media-right">
        <div class="dropdown">
            <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Chỉnh sửa hoặc xóa">
                <i class="fa fa-pencil mh-commet-edit"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Chỉnh sửa</a></li>
                <li><a href="#">Xóa</a></li>
            </ul>
        </div>
    </div>
</div>