@model ICollection<EditedLog>
@using CP_MathHub.Entity
@using CP_MathHub.Service.Helpers
<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Lịch sử chỉnh sửa</h4>
        </div>
        <div class="modal-body">
            @switch ((string)ViewBag.Type)
            {
                case "Comment":
                    <div>
                        <div class="media mh-comment-div">
                            <div class="media-left">
                                <img src="~/Content/img/user.jpg" alt="..." class="mh-user-small">
                            </div>
                            <div class="media-body">
                                <span class="media-heading mh-comment-content">
                                    <a href="" class="mh-media-comment-user">@Model.ElementAt(0).User.UserName</a>
                                    <span>@Model.ElementAt(0).Content</span>
                                </span>
                                <div class="mh-comment-acitvity">
                                    <span class="mh-time">@Html.PostCreatedTime(@Model.ElementAt(0).CreatedDate, "bình luận")</span>
                                </div>
                            </div>
                        </div>
                        @for (int i = 1; i < Model.Count - 1; i++)
                        {
                        <div class="media mh-comment-div hidden">
                            <div class="media-left">
                                <img src="~/Content/img/user.jpg" alt="..." class="mh-user-small">
                            </div>
                            <div class="media-body">
                                <span class="media-heading mh-comment-content">
                                    <a href="" class="mh-media-comment-user">@Model.ElementAt(i).User.UserName</a>
                                    <span>@Model.ElementAt(i).Content</span>
                                </span>
                                <div class="mh-comment-acitvity">
                                    <span class="mh-time">@Html.PostCreatedTime(Model.ElementAt(i).CreatedDate, "chỉnh sửa")</span>
                                </div>
                            </div>
                        </div>
                        }

                        @if (Model.Count > 2)
                        {
                        <div class="mh-comment-history-see-more">
                            <a onclick="@("showHiddenEditedLog(this)")" data-toggle="tooltip" data-placement="top" title="@(Model.Count - 2) được ẩn đi">...</a>
                        </div>
                        <script type="text/javascript">
                                function showHiddenEditedLog(item) {
                                    $(item).parent().siblings(".hidden").removeClass("hidden");
                                    $(item).parent().addClass("hidden");
                                }
                        </script>
                        }

                        <div class="media mh-comment-div">
                            <div class="media-left">
                                <img src="~/Content/img/user.jpg" alt="..." class="mh-user-small">
                            </div>
                            <div class="media-body">
                                <span class="media-heading mh-comment-content">
                                    <a href="" class="mh-media-comment-user">@Model.ElementAt(Model.Count - 1).User.UserName</a>
                                    <span>@Model.ElementAt(Model.Count - 1).Content</span>
                                </span>
                                <div class="mh-comment-acitvity">
                                    <span class="mh-time">@Html.PostCreatedTime(Model.ElementAt(Model.Count - 1).CreatedDate, "chỉnh sửa")</span>
                                </div>
                            </div>
                        </div>
                    </div>
                        break;
                case "MainPost":
                <div>
                    <div class="mh-content-detail">
                        <h3>@Model.ElementAt(0).Title</h3>
                        <div>
                            <div class="mh-sort-content">
                                @{
                                    int length = Model.ElementAt(0).Title.Length > 50 ? 431 : 571;
                                    @Html.Raw(Model.ElementAt(0).Content);
                                }
                            </div>
                            @if (Model.ElementAt(0).Content.Length > length)
                            {
                                <div><a onclick="seemoreContent(this)" class="mh-seemore">Xem thêm</a></div>
                                <div class="mh-full-content hidden">
                                    @Html.Raw(Model.ElementAt(0).Content)
                                </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-6 col-md-7 col-md-offset-5 col-lg-5 col-lg-offset-7">
                                <div class="row">
                                    <span class="mh-time">@Html.PostCreatedTime(Model.ElementAt(0).CreatedDate, "đăng")</span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 mh-answer-avatar">
                                        <a href="#">
                                            <img src="~/Content/img/user.jpg" class="mh-user-avatar">
                                        </a>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 mh-answer-username">
                                        <a href="#">
                                            <span class="mh-username">@Model.ElementAt(0).User.UserName</span>
                                        </a>
                                        <div class="detail-reputat">
                                            <span>@Model.ElementAt(0).User.Reputation</span>
                                            <i class="fa fa-circle mh-reputation-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @for (int i = 1; i < Model.Count - 1; i++)
                    {
                        <div class="mh-content-detail hidden">
                            <h3>@Model.ElementAt(i).Title</h3>
                            <div>
                                <div class="mh-sort-content">
                                    @{
                                        length = Model.ElementAt(i).Title.Length > 50 ? 431 : 571;
                                        @Html.Raw(Model.ElementAt(i).Content);
                                    }
                                </div>
                                @if (Model.ElementAt(i).Content.Length > length)
                                {
                                    <div><a onclick="seemoreContent(this)" class="mh-seemore">Xem thêm</a></div>
                                    <div class="mh-full-content hidden">

                                        @Html.Raw(Model.ElementAt(i).Content)

                                    </div>
                                }
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-6 col-md-7 col-md-offset-5 col-lg-5 col-lg-offset-7">
                                    <div class="row">
                                        <span class="mh-time">@Html.PostCreatedTime(Model.ElementAt(i).CreatedDate, "chỉnh sửa")</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 mh-answer-avatar">
                                            <a href="#">
                                                <img src="~/Content/img/user.jpg" class="mh-user-avatar">
                                            </a>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 mh-answer-username">
                                            <a href="#">
                                                <span class="mh-username">@Model.ElementAt(i).User.UserName</span>
                                            </a>
                                            <div class="detail-reputat">
                                                <span>@Model.ElementAt(i).User.Reputation</span>
                                                <i class="fa fa-circle mh-reputation-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.Count > 2)
                    {
                        <div class="mh-comment-history-see-more">
                            <a onclick="@("showHiddenEditedLog(this)")" data-toggle="tooltip" data-placement="top" title="@(Model.Count - 2) được ẩn đi">...</a>
                        </div>
                        <script type="text/javascript">
                            function showHiddenEditedLog(item) {
                                $(item).parent().siblings(".hidden").removeClass("hidden");
                                $(item).parent().addClass("hidden");
                            }
                        </script>
                    }
                    <div class="mh-content-detail">
                        <h3>@Model.ElementAt(Model.Count - 1).Title</h3>
                        <div>
                            <div class="mh-sort-content">
                                @{
                                    length = Model.ElementAt(Model.Count - 1).Title.Length > 50 ? 431 : 571;
                                    @Html.Raw(Model.ElementAt(Model.Count - 1).Content);
                                }
                            </div>
                            @if (Model.ElementAt(Model.Count - 1).Content.Length > length)
                            {
                                <div><a onclick="seemoreContent(this)" class="mh-seemore">Xem thêm</a></div>
                                <div class="mh-full-content hidden">

                                    @Html.Raw(Model.ElementAt(Model.Count - 1).Content)

                                </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-6 col-md-7 col-md-offset-5 col-lg-5 col-lg-offset-7">
                                <div class="row">
                                    <span class="mh-time">@Html.PostCreatedTime(Model.ElementAt(Model.Count - 1).CreatedDate, "chỉnh sửa")</span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 mh-answer-avatar">
                                        <a href="#">
                                            <img src="~/Content/img/user.jpg" class="mh-user-avatar">
                                        </a>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 mh-answer-username">
                                        <a href="#">
                                            <span class="mh-username">@Model.ElementAt(Model.Count - 1).User.UserName</span>
                                        </a>
                                        <div class="detail-reputat">
                                            <span>@Model.ElementAt(Model.Count - 1).User.Reputation</span>
                                            <i class="fa fa-circle mh-reputation-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            break;
                case "Answer":
                <div>
                    <div class="mh-content-detail">
                        <h3>@Model.ElementAt(0).Title</h3>
                        <div>
                            <div class="mh-sort-content">
                                @{
                             length = Model.ElementAt(0).Title.Length > 50 ? 431 : 571;
                                @Html.Raw(Model.ElementAt(0).Content);
                                }
                            </div>
                            @if (Model.ElementAt(0).Content.Length > length)
                            {
                            <div><a onclick="seemoreContent(this)" class="mh-seemore">Xem thêm</a></div>
                            <div class="mh-full-content hidden">

                                @Html.Raw(Model.ElementAt(0).Content)

                            </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-6 col-md-7 col-md-offset-5 col-lg-5 col-lg-offset-7">
                                <div class="row">
                                    <span class="mh-time">@Html.PostCreatedTime(Model.ElementAt(0).CreatedDate, "trả lời")</span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 mh-answer-avatar">
                                        <a href="#">
                                            <img src="~/Content/img/user.jpg" class="mh-user-avatar">
                                        </a>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 mh-answer-username">
                                        <a href="#">
                                            <span class="mh-username">@Model.ElementAt(0).User.UserName</span>
                                        </a>
                                        <div class="detail-reputat">
                                            <span>@Model.ElementAt(0).User.Reputation</span>
                                            <i class="fa fa-circle mh-reputation-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @for (int i = 1; i < Model.Count - 1; i++)
                    {
                    <div class="mh-content-detail hidden">
                        <h3>@Model.ElementAt(i).Title</h3>
                        <div>
                            <div class="mh-sort-content">
                                @{
                        length = Model.ElementAt(i).Title.Length > 50 ? 431 : 571;
                                @Html.Raw(Model.ElementAt(i).Content);
                                }
                            </div>
                            @if (Model.ElementAt(i).Content.Length > length)
                                {
                            <a onclick="seemoreContent(this)" class="mh-seemore">Xem thêm</a>
                            <div class="mh-full-content hidden">

                                @Html.Raw(Model.ElementAt(i).Content)

                            </div>
                                }
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-6 col-md-7 col-md-offset-5 col-lg-5 col-lg-offset-7">
                                <div class="row">
                                    <span class="mh-time">@Html.PostCreatedTime(Model.ElementAt(i).CreatedDate, "chỉnh sửa")</span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 mh-answer-avatar">
                                        <a href="#">
                                            <img src="~/Content/img/user.jpg" class="mh-user-avatar">
                                        </a>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 mh-answer-username">
                                        <a href="#">
                                            <span class="mh-username">@Model.ElementAt(i).User.UserName</span>
                                        </a>
                                        <div class="detail-reputat">
                                            <span>@Model.ElementAt(i).User.Reputation</span>
                                            <i class="fa fa-circle mh-reputation-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    @if (Model.Count > 2)
                    {
                    <div class="mh-comment-history-see-more">
                        <a onclick="@("showHiddenEditedLog(this)")" data-toggle="tooltip" data-placement="top" title="@(Model.Count - 2) được ẩn đi">...</a>
                    </div>
                    <script type="text/javascript">
                            function showHiddenEditedLog(item) {
                                $(item).parent().siblings(".hidden").removeClass("hidden");
                                $(item).parent().addClass("hidden");
                            }
                    </script>
                    }
                    <div class="mh-content-detail">
                        <h3>@Model.ElementAt(Model.Count - 1).Title</h3>
                        <div>
                            <div class="mh-sort-content">
                                @{
                    length = Model.ElementAt(Model.Count - 1).Title.Length > 50 ? 431 : 571;
                                @Html.Raw(Model.ElementAt(Model.Count - 1).Content);
                                }
                            </div>
                            @if (Model.ElementAt(Model.Count - 1).Content.Length > length)
                            {
                            <a onclick="seemoreContent(this)" class="mh-seemore">Xem thêm</a>
                            <div class="mh-full-content hidden">

                                @Html.Raw(Model.ElementAt(Model.Count - 1).Content)

                            </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-6 col-md-7 col-md-offset-5 col-lg-5 col-lg-offset-7">
                                <div class="row">
                                    <span class="mh-time">@Html.PostCreatedTime(Model.ElementAt(Model.Count - 1).CreatedDate, "chỉnh sửa")</span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 mh-answer-avatar">
                                        <a href="#">
                                            <img src="~/Content/img/user.jpg" class="mh-user-avatar">
                                        </a>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 mh-answer-username">
                                        <a href="#">
                                            <span class="mh-username">@Model.ElementAt(Model.Count - 1).User.UserName</span>
                                        </a>
                                        <div class="detail-reputat">
                                            <span>@Model.ElementAt(Model.Count - 1).User.Reputation</span>
                                            <i class="fa fa-circle mh-reputation-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            break;
                case "QuestionComment":
                <div>
                    <div class="mh-comment-content">
                        <span class="mh-comment-question-content">@Model.ElementAt(0).Content</span><br />
                        <a href="#" class="mh-comment-question-username">@Model.ElementAt(0).User.UserName</a>
                        <span class="mh-time">@Html.PostCreatedTime(Model.ElementAt(0).CreatedDate, "bình luận")</span>
                    </div>
                    @for (int i = 1; i < Model.Count - 1; i++)
                        {
                        <div class="mh-comment-content hidden">
                            <span class="mh-comment-question-content">@Model.ElementAt(i).Content</span><br />
                            <a href="#" class="mh-comment-question-username">@Model.ElementAt(i).User.UserName</a>
                            <span class="mh-time">@Html.PostCreatedTime(Model.ElementAt(i).CreatedDate, "chỉnh sửa")</span>
                        </div>
                        }
                    @if (Model.Count > 2)
                        {
                        <div class="mh-comment-history-see-more">
                            <a onclick="@("showHiddenEditedLog(this)")" data-toggle="tooltip" data-placement="top" title="@(Model.Count - 2) được ẩn đi">...</a>
                        </div>
                        <script type="text/javascript">
                                function showHiddenEditedLog(item) {
                                    $(item).parent().siblings(".hidden").removeClass("hidden");
                                    $(item).parent().addClass("hidden");
                                }
                        </script>
                        }
                    <div class="mh-comment-content">
                        <span class="mh-comment-question-content">@Model.ElementAt(Model.Count - 1).Content</span><br />
                        <a href="#" class="mh-comment-question-username">@Model.ElementAt(Model.Count - 1).User.UserName</a>
                        <span class="mh-time">@Html.PostCreatedTime(Model.ElementAt(Model.Count - 1).CreatedDate, "chỉnh sửa")</span>
                    </div>
                </div>
                    break;
            }


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>
