@using CP_MathHub.Models.Common
@using CP_MathHub.Service.Helpers
@model ICollection<CommentViewModel>



@foreach (CommentViewModel reply in Model)
{
    <div class="media mh-comment-div">
        <div class="media-left">
            <img src="~/Content/img/user.jpg" alt="..." class="mh-user-small">
        </div>
        <div class="media-body">
            <div class="media-heading">
                <a href="" class="mh-media-comment-user">@reply.Username</a>
                <span>@reply.Content</span>
            </div>
            <div>
                <a class="mh-like" onclick="like(@reply.Id, this)">@(reply.Liked ? "Bỏ thích" : "Thích")</a>
                -
                <a href="" title="Lượt thích" class="mh-comment-like">
                    <i class="fa fa-thumbs-o-up"></i>
                    <span class="like">@reply.Like</span>
                </a>
                -
                <span class="mh-time">@Html.PostCreatedTime(reply.CreatedDate, "trả lời")</span>
            </div>
        </div>
        <div class="media-right">
            @Html.Partial("../CommonWidget/_PostSettingPartialView", new ViewDataDictionary { { "PostId", reply.Id }, { "PostType", "comment" } })
        </div>
    </div>
}