@using CP_MathHub.Models.Common
@using CP_MathHub.Service.Helpers
@model ICollection<CommentViewModel>



@foreach (CommentViewModel reply in Model)
{
    <div class="media mh-comment-div">
        <div class="media-left">
            <img src="~/Content/img/user.jpg" alt="..." class="mh-user-small">
        </div>
        <div class="media-body">
            <div class="media-heading mh-comment-content">
                <a href="@Url.Action("UserProfile", "Account", new {userId = reply.UserId })" class="mh-media-comment-user">@reply.Username</a>
                <span id="comment-content-@(reply.Id)">@reply.Content</span>
            </div>
            <div class="mh-comment-activity">
                <a class="mh-like" onclick="like(@reply.Id, this)">@(reply.Liked ? "Bỏ thích" : "Thích")</a>
                -
                <a href="" title="Lượt thích" class="mh-comment-like">
                    <i class="fa fa-thumbs-o-up"></i>
                    <span class="like">@reply.Like</span>
                </a>
                -
                <span class="mh-time">@Html.PostCreatedTime(reply.CreatedDate, "trả lời")</span>
                <span class="@(reply.Edited ? "" : "hidden") edited-button">
                    -
                    <a onclick="loadEditedLog(@reply.Id,'Comment')" data-toggle="modal" data-target="#history-edit" class="mh-comment-history-edit">Đã chỉnh sửa</a>
                </span>
            </div>
            <textarea class="form-control mh-comment-edit-textarea" comment-id="@reply.Id" rows="3">@reply.Content</textarea>
            <div class="mh-note">
                <button onclick="@("closeEdit()")" type="button" class="mh-note-close-button" value="@reply.Content">
                    hủy
                </button>
            </div>
        </div>
        <div class="media-right">
            @Html.Partial("../CommonWidget/_PostSettingPartialView", new ViewDataDictionary { { "PostId", reply.Id }, { "PostType", "comment" }, { "Status", reply.Status }, { "UserId", reply.UserId } })
        </div>
    </div>
}