@model CP_MathHub.Entity.Tag

@if (ViewBag.System == CP_MathHub.Core.Configuration.Constant.String.QuestionSystem)
{
    <a href="@Url.Action("Tag", ViewBag.System, new { tag = Model.Name })" class="mh-tag">
        <i class="fa fa-circle"></i>
        <label>@Model.Name</label>
        <span class="hidden">@Model.Id</span>
    </a>
}
else if (ViewBag.System == CP_MathHub.Core.Configuration.Constant.String.BlogSystem)
{
    <a href="@Url.Action("Tag", ViewBag.System, new { tag = Model.Name })" class="mh-tag">
        <i class="fa fa-circle"></i>
        <label>@Model.Name</label>
        <span class="hidden">@Model.Id</span>
    </a>
}
else if (ViewBag.System == CP_MathHub.Core.Configuration.Constant.String.DiscussionSystem)
{
    <a href="@Url.Action("Tag", ViewBag.System, new { tag = Model.Name, tagId = Model.Id })" class="mh-tag">
        <i class="fa fa-circle"></i>
        <label>@Model.Name</label>
        <span class="hidden">@Model.Id</span>
    </a>
}
else
{
    <a class="mh-tag">
        <i class="fa fa-circle"></i>
        <label>@Model.Name</label>
        <span class="hidden">@Model.Id</span>
    </a>
}