@model CP_MathHub.Models.Common.UserInfoViewModel
@using CP_MathHub.Service.Helpers
<div class="mh-user-info">
    <a href="#">
        <img src="~/Content/img/user.jpg" class="mh-user-avatar">
    </a>
    <div>
        <div>
            <a href="#">
                <span class="mh-username">@Model.Username</span>
            </a>
            <span class="mh-time">@Html.PostCreatedTime(Model.CreateMainPostDate, (string)ViewBag.CreatedDateType)</span>
            <span class="@((bool)ViewData["Edited"] ? "" : "hidden") edited-button">
                -
                <a onclick="loadEditedLog(@ViewData["PostId"],@("\"MainPost\""))" data-toggle="modal" data-target="#history-edit" class="mh-comment-history-edit">Đã chỉnh sửa</a>
            </span>
        </div>
        <div class="detail-reputation">
            <span>@Model.Reputation</span>
            <i class="fa fa-circle mh-reputation-icon"></i>
        </div>
    </div>
</div>

