@model CP_MathHub.Models.Common.UserInfoViewModel
@using CP_MathHub.Service.Helpers
@using CP_MathHub.Core.Configuration
@using CP_MathHub.Models.Account
@using CP_MathHub.Entity
<div class="mh-user-info">
    <a href="@Url.Action("UserProfile", "Account", new { @userId = Model.Id})" class="mh-hover-user">
        <img src="@(Model.Avatar != null ? Url.Content(Model.Avatar.Url) : Url.Content("~/Content/img/user.jpg"))" class="mh-user-avatar">
    </a>
    @Html.Action("UserWidgetHover", "CommonWidget", new { @userid = Model.Id })
    <div>
        <div>
            <a href="@Url.Action("UserProfile", "Account", new { @userId = Model.Id  })" class = "mh-hover-user">
                <span class="mh-username" style="@(Model.Status == UserStatusEnum.Banned ? "text-decoration: line-through;":"")">@Model.Username</span>
            </a>
            <span class="mh-time">@Html.PostCreatedTime(Model.CreateMainPostDate, (string)ViewData["CreatedDateType"])</span>
            <span class="@((bool)ViewData["Edited"] ? "" : "hidden") edited-button">
                -
                <a onclick="loadEditedLog(@ViewData["PostId"],@("\"MainPost\""))" data-toggle="modal" data-target="#history-edit" class="mh-comment-history-edit">Đã chỉnh sửa</a>
            </span>
        </div>
        <div class="detail-reputation">
            <span>@Html.ReputationNumer(Model.Reputation)</span>
            <i class="fa fa-circle mh-reputation-icon"></i>
        </div>
    </div>
</div>
