@using CP_MathHub.Models.Admin
@model ICollection<TagViewModel>
@for (int i = 0; i < Model.Count; i++)
{
    TagViewModel tag = Model.ElementAt(i);
<tr class="">
    <td class="mh-cell-center">@(i + 1)</td>
    <td class="mh-cell-center selectedDuplicateTagName">@tag.Name</td>
    <td class="mh-cell-center" mh-id="@tag.UsedNum">@tag.UsedNum</td>
    <td class="mh-cell-middle">@tag.Description</td>
    @if (tag.CheckDuplicate)
    {
    <td class="center mh-cell-center">
        <button class="btn btn-warning" onclick="@("GetDuplicateTags(this)")" data-toggle="modal" data-target="#checkDuplica-1">Bị trùng</button>
    </td>
    }
    else
    {
    <td class="center mh-cell-center">Không trùng</td>
    }

    <td class="mh-cell-center"><a class="edit btn btn-primary" href="javascript:;" mh-id="@tag.Id">Chỉnh sửa</a></td>
    <td class="mh-cell-center"><a class="delete btn btn-danger" href="javascript:;" mh-id="@tag.Id" mh-usednum="@tag.UsedNum">Xóa</a></td>
    <td class="mh-cell-center"><input type="checkbox" class="selectcheckTag" onclick="checkSelectItem()" value="@tag.Id"></td>
</tr>
}


