@using CP_MathHub.Models.Admin
@model ICollection<TagViewModel>
@for (int i = 0; i < Model.Count; i++)
{
    TagViewModel tag = Model.ElementAt(i);
    <tr class="">
        <td class="mh-cell-center">@(i + 1)</td>
        <td class="mh-cell-center">@tag.Name</td>
        <td class="mh-cell-center">@tag.UsedNum</td>
        <td class="mh-cell-middle">@tag.Description</td>

        @if (tag.CheckDuplicate)
        {
            <td class="center mh-cell-center">
                <a class="btn btn-warning">Bị trùng</a>
            </td>
        }
        else
        {
            <td class="center mh-cell-center">Không trùng</td>
        }

        <td class="mh-cell-center"><a class="edit btn btn-primary" href="javascript:;" mh-id="@tag.Id" *>Chỉnh sửa</a></td>
        <td class="mh-cell-center"><a class="delete btn btn-danger" href="javascript:;">Xóa</a></td>
        <td class="mh-cell-center"><input type="checkbox" value=""></td>
    </tr>
}


