@model UserHeaderViewModel
@using CP_MathHub.Models.Admin

<li class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <img alt="" src="@(Model.Avatar != null ? Url.Content(Model.Avatar.Url) : Url.Content("~/Content/img/user.jpg"))" class="mh-user-icon">
        <span class="username">@Model.Username</span>
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu extended logout">
        <div class="log-arrow-up"></div>
        <li><a href="@Url.Action("MyProfile","Account")"><i class=" icon-suitcase"></i>Thông tin cá nhân</a></li>
        <li><a href="@Url.Action("Friend","Account")">Bạn bè</a></li>
        <li><a href="@Url.Action("MyActivity","Account")">Hoạt động</a></li>
        <li><a href="@Url.Action("Index","Admin")">Quản lý</a></li>
        <li><a href="@Url.Action("Privacy","Account")">Thiết lập quyền riêng tư</a></li>
        <li class="divider"></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a></li>
    </ul>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "hidden" }))
    {
        @Html.AntiForgeryToken()
    }
</li>

