@*@model ICollection<ManageInfracPostViewModel>
@using CP_MathHub.Models.Admin
@using CP_MathHub.Entity
@using CP_MathHub.Service.Helpers
@foreach (ManageInfracPostViewModel iPost in Model)
{

    <tr class="">
        <td class="mh-cell-center">
            @iPost.MainPost.Id
        </td>
        <td class="mh-cell-middle">
            <a href="">@iPost.MainPost.Title</a>
        </td>
        <td class="mh-cell-middle">
            <a data-toggle="modal" data-target="#user1">@iPost.MainPost.Author</a>
            <!-- Modal -->
            <div class="modal fade" id="user1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Thông tin của <span class="mh-manage-user-username">Admin</span></h4>
                        </div>
                        <div class="modal-body">
                            <h4>
                                Đi đến
                                <a href="#">trang thông tin cá nhân</a>
                                của
                                <span class="mh-manage-user-username">Admin</span>
                            </h4>
                            <div>
                                <h3>Thông tin chung</h3>
                                <div class="mh-manage-user-info-detail">
                                    <div class="row mh-profile-info-row">
                                        <div class="col-xs-3">
                                            <label>Tài khoản</label>
                                        </div>
                                        <div class="col-xs-5">
                                            <span>TamTV</span>
                                        </div>
                                    </div>
                                    <div class="row mh-profile-info-row">
                                        <div class="col-xs-3">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-xs-5">
                                            <span>tamtv93@gmail.com</span>
                                        </div>
                                    </div>
                                    <div class="row mh-profile-info-row">
                                        <div class="col-xs-3">
                                            <label>Điểm thưởng</label>
                                        </div>
                                        <div class="col-xs-5">
                                            <div>
                                                <span>1432</span>
                                                <i class="icon-circle mh-reputation-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h3>Thông tin cơ bản</h3>
                                <div class="mh-manage-user-info-detail">
                                    <div class="row mh-profile-info-row">
                                        <div class="col-xs-3">
                                            <label>Họ tên</label>
                                        </div>
                                        <div class="col-xs-5">
                                            <span>Thân Văn Tâm</span>
                                        </div>
                                    </div>
                                    <div class="row mh-profile-info-row">
                                        <div class="col-xs-3">
                                            <label>Giới tính</label>
                                        </div>
                                        <div class="col-xs-5">
                                            <span>Nam</span>
                                        </div>
                                    </div>
                                    <div class="row mh-profile-info-row">
                                        <div class="col-xs-3">
                                            <label>Ngày sinh</label>
                                        </div>
                                        <div class="col-xs-5">
                                            <span>13/10/1993</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h3>Thông tin liên hệ</h3>
                                <div class="mh-manage-user-info-detail">
                                    <div class="row mh-profile-info-row">
                                        <div class="col-xs-3">
                                            <label>Địa chỉ</label>
                                        </div>
                                        <div class="col-xs-5">
                                            <span>Đà Nẵng</span>
                                        </div>
                                    </div>
                                    <div class="row mh-profile-info-row">
                                        <div class="col-xs-3">
                                            <label>Số điện thoại</label>
                                        </div>
                                        <div class="col-xs-5">
                                            <span>01227527757</span>
                                        </div>
                                    </div>
                                    <div class="row mh-profile-info-row">
                                        <div class="col-xs-3">
                                            <label>Facebook</label>
                                        </div>
                                        <div class="col-xs-5">
                                            <a href="https://www.facebook.com/tam.gre.5">https://www.facebook.com/tam.gre.5</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h3>Thông tin khác</h3>
                                <div class="mh-manage-user-info-detail">
                                    <div class="row mh-profile-info-row">
                                        <div class="col-xs-3">
                                            <label>Trường</label>
                                        </div>
                                        <div class="col-xs-5">
                                            <span>FPT University</span>
                                        </div>
                                    </div>
                                    <div class="row mh-profile-info-row">
                                        <div class="col-xs-3">
                                            <label>Trình độ</label>
                                        </div>
                                        <div class="col-xs-5">
                                            <span>Đại học</span>
                                        </div>
                                    </div>
                                    <div class="row mh-profile-info-row">
                                        <div class="col-xs-3">
                                            <label>Quan điểm</label>
                                        </div>
                                        <div class="col-xs-5">
                                            <span>Sống thật với bản thân</span>
                                        </div>
                                    </div>
                                    <div class="row mh-profile-info-row">
                                        <div class="col-xs-3">
                                            <label>Giới thiệu</label>
                                        </div>
                                        <div class="col-xs-5">
                                            <span>Bình thường</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td class="mh-cell-center">
            @iPost.ReportedDate
        </td>
        <td class="mh-cell-center">
            <a data-toggle="modal" data-target="#userReport">@iPost.Reporters.Count</a>
            <!-- Modal -->
            <div class="modal fade" id="userReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Người báo cáo</h4>
                        </div>
                        <div class="modal-body">
                                <div class="media mh-user-report">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="mh-user-icon" src="img/user.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <span>QuanVMH</span>
                                    </div>
                                </div>
                    

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td class="mh-cell-middle">
            <a data-toggle="modal" data-target="#causePost">ABC, XYZ, RYG</a>
            <!-- Modal -->
            <div class="modal fade" id="causePost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Lí do</h4>
                        </div>
                        <div class="modal-body">
                            @foreach (KeyValuePair<string, int> reason in iPost.Reasons)
                            {
                                <div class="row">
                                    <div class="col-xs-7">@reason.Key</div>
                                    <div class="col-xs-5">@reason.Value</div>
                                </div>
                            }
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td class="mh-cell-center">
            <div class="switch switch-square"
                 data-on-label="<i class=' icon-ok'></i>"
                                                   data-off-label="<i class='icon-remove'></i>">
                                                  <input type="checkbox"/>
                                          </div>
        </td>
        <td class="mh-cell-center">
            <a href="" type="button" class="btn btn-warning">Đóng</a>
            <a href="" class="delete btn btn-danger" type="button">Xóa</a>
        </td>
    </tr>
}*@
