@using CP_MathHub.Models.Admin
@using CP_MathHub.Core.Configuration
@using CP_MathHub.Entity
@using CP_MathHub.Service.Helpers
@model ManageInfracUserListViewModel
@{
    ViewBag.Title = "ManageInfracUsersView";
    Layout = "~/Views/Admin/Layouts/_AdminLayout.cshtml";
}
<section class="wrapper">
    <h3>Quản lý vi phạm của người dùng</h3>
    <!-- table: start -->
    <section class="panel">
        <div class="panel-body">
            <div class="adv-table editable-table ">
                <div class="row">
                    <div class="col-xs-4 cols-sm-2 col-md-2 col-lg-2">
                        <h4>Hiển thị: </h4>
                    </div>
                    <div class="col-xs-8 cols-sm-10 col-md-10 col-lg-10">
                        @*@using (Html.BeginForm("ManageInfracUsers", "Admin", FormMethod.Post, new { id = "select-form-user" }))
                            {
                                <select onchange="GetUserOptionSelect()" name="Filters" class="selectpicker" multiple="multiple" title="Không có gì được chọn">
                                    <option value="1" @(Model.Filters != null && Model.Filters.Contains(1) ? "selected" : "")>Đã kiểm tra</option>
                                    <option value="2" @(Model.Filters != null && Model.Filters.Contains(2) ? "selected" : "")>Chưa kiểm tra</option>
                                </select>
                                <input type="hidden" value="@Model.Filters" />
                            }*@
                        <select onchange="GetUserOptionSelect()" name="Filters" class="selectpicker userFilter" multiple="multiple" title="Không có gì được chọn">
                            <option value="True">Đã kiểm tra</option>
                            <option value="False">Chưa kiểm tra</option>
                        </select>
                    </div>
                </div>
                <div class="space15"></div>
                <table class="table table-striped table-hover table-bordered" id="editable-manageInfracUsers">
                    <thead>
                        <tr>
                            <th class="hidden"></th>
                            <th>STT</th>
                            <th>Người bị báo cáo</th>
                            <th>Ngày báo cáo</th>
                            <th>Số người báo cáo</th>
                            <th>Lí do</th>
                            <th>Đã kiểm tra</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Items.Count; i++)
                        {
                            ManageInfracUsersViewModel user = Model.Items.ElementAt(i);
                            <tr class="">
                                <td class="hidden" id="status-@user.Id">@user.Status</td>
                                <td class="mh-cell-center">
                                    @(i + 1)
                                </td>
                                <td class="mh-cell-middle">
                                    <a data-toggle="modal" data-target="#user-@user.User.Id">@user.User.UserName</a>
                                    <!-- Modal -->
                                    @Html.Partial("Partials/_UserInformationDetailPartialView", user.User)
                                </td>
                                <td class="mh-cell-center">
                                    @user.ReportedDate.ToString("dd-MM-yyyy")
                                </td>
                                <td class="mh-cell-center">
                                    <a data-toggle="modal" data-target="#userReport-@(i+1)">@user.Reporters.Count người</a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="userReport-@(i+1)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Danh sách người báo cáo</h4>
                                                </div>
                                                <div class="modal-body">
                                                    @{
                            String description = "";
                                                    }
                                                    <div class="row mh-admin-title">
                                                        <div class="col-lg-3">
                                                            Người báo cáo
                                                        </div>
                                                        <div class="col-lg-9">
                                                            Miêu tả
                                                        </div>
                                                    </div>
                                                    @foreach (User u in user.Reporters)
                                                    {
                                                        foreach (Report r in u.Reports)
                                                        {
                                                            if (r.ReporterId == u.Id)
                                                            {
                                                                description = r.Description;
                                                            }
                                                        }
                                                        <div class="media mh-user-report">
                                                            <div class="media-left">
                                                                <a href="#">
                                                                    <img class="mh-user-icon" src="@(u.Avatar != null ? Url.Content(u.Avatar.Url) : Url.Content("~/Content/img/user.jpg"))" />
                                                                </a>
                                                            </div>
                                                            <div class="media-body">
                                                                <a href="@Url.Action("UserProfile", "Account", new { userId= user.Id })"><span>@u.UserName</span></a>
                                                            </div>
                                                            <div class="media-right">
                                                                @description
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="mh-cell-middle">
                                    <a data-toggle="modal" data-target="#causePost-@(i+1)">
                                        @{List<string> listReasonUser = new List<string>();}
                                        @foreach (KeyValuePair<ReportTypeEnum, int> reason in user.Reasons)
                                        {
                                            listReasonUser.Add(CP_MathHub.Core.Configuration.Constant.Account.Dictionary.ReportType[(int)@reason.Key]);
                                        }
                                        @(string.Join(", ", listReasonUser))
                                    </a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="causePost-@(i+1)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Lí do</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row mh-admin-title">
                                                        <div class="col-lg-8">
                                                            Lý do
                                                        </div>
                                                        <div class="col-lg-4">
                                                            Số lần bị báo cáo
                                                        </div>
                                                    </div>
                                                    @foreach (KeyValuePair<ReportTypeEnum, int> reason in user.Reasons)
                                                    {
                                                        <div class="row">
                                                            <div class="col-lg-8">@CP_MathHub.Core.Configuration.Constant.Account.Dictionary.ReportType[(int)@reason.Key]</div>
                                                            <div class="col-lg-4">@reason.Value lần</div>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="mh-cell-center">
                                    <div class="switch switch-square"
                                         data-on-label="@("<i class=' icon-ok'></i>")"
                                         data-off-label="@("<i class='icon-remove'></i>")">
                                        <input type="checkbox" @(user.Status == true ? "checked" : "") onchange="changeStatusReportUser(@user.User.Id,2)" />
                                    </div>
                                </td>
                                <td class="mh-cell-center">
                                    <a href="" id="activeUser-@user.User.Id" type="button" class="btn btn-warning @(user.User.Status.Value == UserStatusEnum.Banned ? "" : "hidden")" data-toggle="modal" onclick="@("unBlockUser(" + @user.User.Id + ")")" data-target="#unblockuser-@user.User.Id">Bỏ khóa</a>
                                    <a href="" id="deActiveUser-@user.User.Id" type="button" class="btn btn-warning @(user.User.Status.Value != UserStatusEnum.Banned ? "" : "hidden")" data-toggle="modal" data-target="#blockuser-@user.User.Id">Khóa</a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="blockuser-@user.User.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" mh-id="@user.User.Id">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <form>
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Khóa tài khoản: <span class="mh-manage-user-username">@user.User.UserName</span></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <h5>Lý do:</h5>
                                                            </div>
                                                            <div class="col-xs-8 mh-select-cause-time-block">
                                                                <select id="select-@user.User.Id" name="selBlock" class="selectpicker blockday" mh-id="@user.User.Id" multiple="multiple" title="Không có lý do nào được chọn">
                                                                    @foreach (BanReason reason in Model.BanReasons)
                                                                    {
                                                                        <option mh-id="@reason.Id" value="@reason.Duration">@reason.Name - @reason.Duration ngày</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <h5>Tổng số ngày bị khóa</h5>
                                                            </div>
                                                            <div class="col-xs-8">
                                                                <input id="dayresult-@user.User.Id" type="text" readonly value="" class="mh-sum-day-block-input" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <h5>Miêu tả</h5>
                                                            </div>
                                                            <div class="col-xs-8">
                                                                <input type="text" value="" class="mh-block-input" id="des-@user.User.Id" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                                        <button type="button" data-dismiss="modal" class="block btn btn-warning" mh-id-user="@user.User.Id" onclick="@("blockUser(" + @user.User.Id + ")")">Khóa</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- table: end -->
</section>
<input id="mh-page" type="hidden" value="@ViewBag.Page" />
