@using CP_MathHub.Models.Admin
@using CP_MathHub.Core.Configuration
@using CP_MathHub.Entity
@using CP_MathHub.Service.Helpers
@model ManageContactViewModel
@{
    ViewBag.Title = "ManageContactView";
    Layout = "~/Views/Admin/Layouts/_AdminLayout.cshtml";
}

<section class="wrapper site-min-height">
    <!-- page start-->
    <!--mail inbox start-->
    <div class="mail-box">
        <aside class="sm-side">
            @*<div class="user-head">
                <a href="javascript:;" class="inbox-avatar">
                    <img src="img/mail-avatar.jpg" alt="">
                </a>
                <div class="user-name">
                    <h5><a href="#">Jonathan Smith</a></h5>
                    <span><a href="#">jsmith@gmail.com</a></span>
                </div>
                <a href="javascript:;" class="mail-dropdown pull-right">
                    <i class="icon-chevron-down"></i>
                </a>
            </div>*@
            <div class="inbox-body" style="background: #E5E8EF; padding-bottom: 14px;">
                <a class="btn btn-compose" data-toggle="modal" href="@Url.Action("SendEMail")">
                    Gửi Mail Cho Thành Viên
                </a>
            </div>
            <ul class="inbox-nav inbox-divider">
                <li class="active">
                    <a href="#"><i class="icon-inbox"></i> Ý kiến phản hồi <span class="label label-danger pull-right">@Model.Feedbacks.Count</span></a>
                </li>
                @*<li>
                    <a href="#"><i class="icon-envelope-alt"></i> Thư đã gửi </a>
                </li>
                <li>
                    <a href="#"><i class="icon-bell"></i> Tin phản hồi</a>
                </li>
                <li>
                    <a href="#"><i class=" icon-trash"></i> Thùng rác <span class="label label-info pull-right">30</span></a>
                </li>*@
            </ul>
        </aside>
        <aside class="lg-side">
            <div class="inbox-head">
                <h3>Ý kiến phản hồi</h3>
                @*<form class="pull-right position" action="#">
                    <div class="input-append">
                        <input type="text" placeholder="Tìm kiếm thư..." class="sr-input">
                        <button type="button" class="btn sr-btn"><i class="icon-search"></i></button>
                    </div>
                </form>*@
            </div>
            <div class="inbox-body">
                <div class="mail-option">
                    <div class="chk-all">
                        <input type="checkbox" class="mail-checkbox mail-group-checkbox" onchange="checkAllFeedback(this)"/>
                        <div class="btn-group">
                            <a class="btn mini all" href="#" data-toggle="dropdown">
                                Tất cả
                                @*<i class="icon-angle-down "></i>*@
                            </a>
                            @*<ul class="dropdown-menu">
                                <li><a href="#"> Đọc </a></li>
                                <li><a href="#"> Chưa đọc </a></li>
                            </ul>*@
                        </div>
                    </div>
                    @*<div class="btn-group">
                        <a class="btn mini tooltips" href="#" data-toggle="dropdown" data-placement="top" data-original-title="Refresh">
                            <i class=" icon-refresh"></i>
                        </a>
                    </div>*@
                    <div class="btn-group hidden-phone">
                        <a class="btn mini blue" onclick="deleteFeedback()" @*href="#" data-toggle="dropdown"*@>
                            Xóa
                            @*<i class="icon-angle-down "></i>*@
                        </a>
                        @*<ul class="dropdown-menu">
                            <li><a href="#"><i class="icon-pencil"></i> Mark as Read</a></li>
                            <li><a href="#"><i class="icon-ban-circle"></i> Spam</a></li>
                            <li class="divider"></li>
                            <li><a onclick="deleteFeedback()"><i class="icon-trash"></i> Delete</a></li>
                        </ul>*@
                    </div>
                    @*<div class="btn-group">
                        <a class="btn mini blue" href="#" data-toggle="dropdown">
                            Move to
                            <i class="icon-angle-down "></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="icon-pencil"></i> Mark as Read</a></li>
                            <li><a href="#"><i class="icon-ban-circle"></i> Spam</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
                        </ul>
                    </div>*@
                    @*<ul class="unstyled inbox-pagination">
                        <li><span>1-50 of 234</span></li>
                        <li>
                            <a href="#" class="np-btn"><i class="icon-angle-left  pagination-left"></i></a>
                        </li>
                        <li>
                            <a href="#" class="np-btn"><i class="icon-angle-right pagination-right"></i></a>
                        </li>
                    </ul>*@
                </div>
                <table class="table table-inbox table-hover" id="feedbackTable">
                    <tbody>
                        @foreach (Feedback f in Model.Feedbacks)
                        {
                            <tr>
                                <td class="inbox-small-cells">
                                    <input type="checkbox" class="mail-checkbox" value="@f.Id">
                                </td>
                                <td class="inbox-small-cells"><i class="icon-star"></i></td>
                                <td class="view-message  dont-show">@f.FullName</td>
                                <td class="view-message ">@f.Content</td>
                                <td class="view-message  inbox-small-cells"></td>
                                <td class="view-message  text-right">@Html.PostCreatedTime(f.CreatedDate, "Gửi")</td>
                            </tr>
                        }                  
                    </tbody>
                </table>
            </div>
        </aside>
    </div>
    <!--mail inbox end-->
    <!-- page end-->
</section>



