@model CP_MathHub.Models.Common.ProfileWidgetViewModel
           @using CP_MathHub.Entity
<div class="mh-profile row">
    <a href="#"><img src="@(Model.Avatar != null ? Url.Content(Model.Avatar.Url) : Url.Content("~/Content/img/user.jpg"))" class="mh-user-image"></a>
    @*<a href="@Url.Action("Index", "Account")"><img src="@Model.Avatar.Url"></a>*@
    <div>
        <a href="#" style="@(Model.Status == UserStatusEnum.Banned ? "text-decoration: line-through;":"")">@Model.Username</a>
        <div class="detail-reputation">
            <span>@Html.ReputationNumer(Model.Reputation)</span>
            <i class="fa fa-circle mh-reputation-icon"></i>
        </div>
    </div>
</div>
