@model CP_MathHub.Models.Common.UserHeaderViewModel
@using Microsoft.AspNet.Identity
@using CP_MathHub.Entity
@using CP_MathHub.Core.Configuration
@if (Model != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right" id="mh-nav-user">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="@(Model.Status == UserStatusEnum.Banned ? "text-decoration: line-through;":"")">
                    @Model.Username
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="@Url.Action("MyProfile","Account")">Thông tin cá nhân</a></li>
                    <li><a href="@Url.Action("Friend","Account")">Bạn bè</a></li>
                    <li><a href="@Url.Action("MyActivity","Account")">Hoạt động</a></li>
                    <li><a href="@Url.Action("Privacy","Account")">Thiết lập quyền riêng tư</a></li>
                    @if (User.IsInRole(Constant.String.RoleAdmin) || User.IsInRole(Constant.String.RoleMod))
                    {
                        <li><a href="@Url.Action("Index","Admin")">Quản lý</a></li>
                    }
                    <li class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("MyProfile","Account")"><img class="mh-user-icon" alt="User Icon" src="@(Model.Avatar != null ? Url.Content(Model.Avatar.Url) : Url.Content("~/Content/img/user.jpg"))" /></a></li>
        </ul>
    }

    <ul class="nav navbar-nav navbar-right mh-notification">
        <li class="dropdown">
            <a href="javascript:;" onclick="@("loadFriendRequestNotification()")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <i class="fa fa-group"></i>
                <span class="badge badge-default @(Model.CountNewFriendRequest == 0 ? "hidden" : "")" id="mh-request-number">@Model.CountNewFriendRequest</span>
            </a>
            <ul class="dropdown-menu" role="menu" onclick="event.stopPropagation();">
                <li>
                    <h3>Lời mời kết bạn</h3>
                    <a href="#" class="mh-notification-setting">Cài đặt</a>
                </li>
                <li class="divider"></li>
                <li>
                    <div class="mh-request-friend" id="mh-request-notification">
                        @Html.Action("FriendRequestNotification", "CommonWidget")
                    </div>
                </li>
                <li>
                    <a href="@Url.Action("Friend", "Account", new { tab = "receiverequest" })" class="mh-see-all">Xem tất cả</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="javascript:;" onclick="@("loadMessageNotification()")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <i class="fa fa-comments"></i>
                <span class="badge badge-default @(Model.CountNewMessage == 0 ? "hidden":"")" id="mh-message-number">@Model.CountNewMessage</span>
            </a>
            <ul class="dropdown-menu" role="menu" onclick="event.stopPropagation();">
                <li>
                    <h3>Tin nhắn</h3>
                    <a href="@Url.Action("MyActivity", "Account", new { tab = "conversations" })" class="mh-notification-setting">Gửi tin nhắn mới</a>
                </li>
                <li class="divider"></li>
                <li>
                    <div class="mh-notification-body" id="mh-message-notification">
                        @Html.Action("MessageNotification", "CommonWidget")
                    </div>
                </li>
                <li>
                    <a href="@Url.Action("MyActivity", "Account", new { tab = "conversations" })" class="mh-see-all">Xem tất cả</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="javascript:;" onclick="@("loadActivityNotification()")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <i class="fa fa-globe"></i>
                <span class="badge badge-default @(Model.CountNewActivity == 0 ? "hidden" : "")" id="mh-activity-number">@Model.CountNewActivity</span>
            </a>
            <ul class="dropdown-menu" role="menu" onclick="event.stopPropagation();">
                <li>
                    <h3>Thông báo</h3>
                    <a href="#" class="mh-notification-setting">Cài đặt</a>
                </li>
                <li class="divider"></li>
                <li>
                    <div class="mh-notification-body" id="mh-activity-notification">
                        @Html.Action("ActivityNotification", "CommonWidget")
                    </div>
                </li>
                <li>
                    <a href="@Url.Action("MyActivity", "Account", new { tab = "notifications" })" class="mh-see-all">Xem tất cả</a>
                </li>
            </ul>
        </li>
    </ul>
}
else
{
    <div class="collapse navbar-collapse mh-header-login-register" id="mh-header-collapse">
        <a href="@Url.Action("Login","Account")" class="btn btn-login">Đăng nhập</a>
        <a href="@Url.Action("Register","Account")" class="btn btn-register">Đăng ký</a>
    </div>
}