@using CP_MathHub.Models.Question
@model QuestionHomeViewModel
@{
    ViewBag.Title = "QuestionHomeView";
    Layout = "~/Views/Question/Layouts/_QuestionHomeLayout.cshtml";
}

<h2>QuestionHomeView</h2>

@using (Html.BeginForm("Search", "Question",FormMethod.Get))
{
    <div>
        Title: @Html.TextBox("searchString") <br />
        <input type="submit" value="Search" />
    </div>
}

@{
<h3>@Model.Name</h3>
    <div id="list-questions">
        @Html.Partial("Partials/_QuestionListPartialView", @Model.Items);
    </div>
}
<button onclick="getMoreQuestion()">Load more</button>

@section LeftPanel
{
    @*@Html.Action(MVC.CommonWidget.ProfileWidget())
    <hr />
    @Html.Action(MVC.CommonWidget.FavoriteTagWidget())
    <hr />
    @Html.Action(MVC.CommonWidget.GroupWidget())
    <hr />
    @Html.Action(MVC.CommonWidget.SubscriptionWidget())*@
}
@section RightPanel
{
    @*@Html.Action("PostProblemWidget", new { controller = "CommonWidget" })
    <hr />
    @Html.Action("MySubscriptionWidget", new { controller = "CommonWidget" })
    <hr />
    @Html.Action("NewBlogWidget", new { controller = "CommonWidget" })*@
}

<script type="text/javascript">
    var page = 0;
    var i = true;
    $(document).ready(function () {
        $(window).scroll(function () {
            if (($(window).scrollTop() + $(window).height() > $(document).height() - 1500) && i) {
                i = false;
                getMoreQuestion();               
            }
        });
    })

    function getMoreQuestion() {
        var list = $("#list-questions");
        $.ajax({
            method: "GET",
            url: "Question/Index",
            data: { tab: "Newest", page: ++page }
        })
          .done(function (msg) {
              console.log(msg);
              list.append(msg);
              i = true;
          })
          .fail(function () {
              alert("error");
          });
    }
</script>