@using CP_MathHub.Models.Question
@model QuestionHomeViewModel
@{
    ViewBag.Title = "QuestionHomeView";
    Layout = "~/Views/Question/Layouts/_QuestionHomeLayout.cshtml";
}

<h2>QuestionHomeView</h2>

@using (Html.BeginForm("Search", "Question",FormMethod.Get))
{
    <div>
        Title: @Html.TextBox("searchString") <br />
        <input type="submit" value="Search" />
    </div>
}

@{
<h3>@Model.Name</h3>
    @Html.Partial("Partials/_QuestionListPartialView", @Model.Items);
}

@section LeftPanel
{
    @*@Html.Action(MVC.CommonWidget.ProfileWidget())
    <hr />
    @Html.Action(MVC.CommonWidget.FavoriteTagWidget())
    <hr />
    @Html.Action(MVC.CommonWidget.GroupWidget())
    <hr />
    @Html.Action(MVC.CommonWidget.SubscriptionWidget())*@
}
@section RightPanel
{
    @*@Html.Action("PostProblemWidget", new { controller = "CommonWidget" })
    <hr />
    @Html.Action("MySubscriptionWidget", new { controller = "CommonWidget" })
    <hr />
    @Html.Action("NewBlogWidget", new { controller = "CommonWidget" })*@
}