@model CP_MathHub.Models.Question.QuestionCreateViewModel
@using CP_MathHub.Core.Configuration
@using CP_MathHub.Entity
    @{
        ViewBag.Title = "Đặt Câu Hỏi";
        ViewBag.MhPage = Constant.String.QuestionCreatePage;
        Layout = "~/Views/Question/Layouts/_QuestionCreateLayout.cshtml";
    }

    <div class="mh-top-content">
        <div class="row">
            <div class="col-md-4 mh-content-title">
                <h3>Đặt câu hỏi</h3>
            </div>
        </div>
    </div>

    @Html.Partial("Partials/_NavPartialView")

    <div class="mh-body-content-mid">
        @using (Html.BeginForm("Create", "Question", FormMethod.Post, new { @role = "form" }))
        {
            <div class="mh-body-title">
                @Html.Label("Tiêu đề:", new { @class = "mh-create-label" })<br />
                @Html.TextBoxFor(m => m.Title, new { @class = "mh-create-input", @placeholder = "Nhập tiêu đề..." })
                @Html.ValidationMessageFor(model => model.Title,"", new { @class = "text-danger" })
            </div>
            <div class="mh-ckeditor">
                @Html.Label("Nội dung:", new { @class = "mh-create-label" })<br />
                *(@Html.Label("Chú ý: để nhập công thức toán học, hãy nhấn vào icon:", new { @class = "mh-create-label-note" })
                <img src="~/Content/img/iconLaTex.PNG" />)<br />
                @Html.TextAreaFor(model => model.Content, new { @class = "editor", @name = "editor1", @id = "editor1", @rows = "15", @cols = "80" })
                @Html.ValidationMessageFor(model => model.Content,"", new { @class = "text-danger" })
            </div>
            <div class="mh-preview">
                <button type="button" class="btn btn-info mh-preview-button">Xem trước</button>
                <div class="mh-preview-content">

                </div>
            </div>
            <div class="mh-create-privacy">
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-lg-4">
                        @Html.Label("Ai thấy bài viết của bạn: ", new { @class = "mh-create-label" })<br />
                    </div>
                    <div class="col-sm-6 col-md-7 col-lg-8">
                        @Html.SelectForEnum(Model.Privacy, typeof(MainPostPrivacyEnum), new Dictionary<string, string> { { "id", "mh-mainpost-privacy" }, { "name", "Privacy" } })
                    </div>
                </div>
            </div>
            <div id="mh-input-tag-div">
                <label class="mh-create-label">Gắn thẻ cho câu hỏi: </label><br />

                <div class="mh-create-input mh-input-tag">
                    <div id="mh-tag-list"></div>
                    <div><input type="text" id="mh-input-tag" /></div>
                    <i id="mh-create-tag" class="fa fa-plus-square" onclick="createTag()"></i>
                </div>
                <ul id="mh-tag-autocomplete-list"></ul>
            </div>
            <div id="mh-input-invite-div">
                <label class="mh-create-label">Mời bạn bè: </label><br />
                <div class="mh-create-input mh-input-invite">
                    <div id="mh-invite-list"></div>
                    <div><input type="text" id="mh-input-invite" /></div>
                </div>
                <ul id="mh-invite-autocomplete-list"></ul>
            </div>
            <div class="mh-create-div">
                <button type="submit" class="btn btn-success btn-lg mh-create-button">Đăng</button>
                <a href="@ViewBag.ReturnUrl" class="btn btn-default btn-lg mh-create-button">Hủy</a>
            </div>
        }
    </div><!-- Body content Mid: end  -->
    <input id="mh-page" type="hidden" value="@ViewBag.MhPage" />
@section LeftPanel
{
    @if (Request.IsAuthenticated)
    {
        @Html.Action("ProfileWidget", new { controller = "CommonWidget" })
        @*@Html.Action("FavoriteTagWidget", new { controller = "CommonWidget" })
            @Html.Action("SubscriptionWidget", new { controller = "CommonWidget" })*@
        @Html.Partial("../CommonWidget/Mockups/_LeftSectionMockup")
    }
}
@section styles{

}
@section scripts{

}