@model CP_MathHub.Models.Blog.ArticlePreviewViewModel
@using CP_MathHub.Service.Helpers
<div class="mh-list-content">
    <div>
        <div class="row">
            <div class="col-xs-11 title">
                <a href="@Url.Action("Detail", new { @id = Model.Id })">
                    @Model.Title
                </a>
                <i id="bookmarked-@Model.Id" onclick="unBookmark(@Model.Id, 'article')" class="fa fa-star mh-bookmarked-icon @(Model.Bookmarked ? "":"hidden")" title="Có @Model.BookmarkNum người đánh dấu câu hỏi này"></i>
                <i id="bookmark-@Model.Id" onclick="bookmark(@Model.Id,  'article')" class="fa fa-star-o mh-bookmark-icon @(Model.Bookmarked ? "hidden" : "")" title="Có @Model.BookmarkNum người đánh dấu câu hỏi này"></i>
            </div>
            <div class="col-xs-1">
                @Html.Partial("../CommonWidget/_PostSettingPartialView", new ViewDataDictionary { { "PostId", Model.Id }, { "PostType", "mainpost" } })
            </div>
        </div>
        <div class="mh-blog-user">
            <div class="row mh-row-time">
                <span>@Html.PostCreatedTime(Model.CreatedDate, (string)ViewBag.CreatedDateType)</span>
            </div>
            <div class="mh-row-info">
                <a href="#">
                    <img src="~/Content/img/user.jpg" class="mh-user-smallest">
                </a>
                <a href="#">
                    <span>@Model.UserInfo.Username</span>
                </a>
                -
                <span>@Model.UserInfo.Reputation</span>
                <i class="fa fa-circle mh-reputation-icon"></i>
            </div>
        </div>
        <div class="content">
            @if (Model.Content.Length <= 680)
            {
                @Html.Raw(Model.Content)
            }
            else
            {
                @Html.Raw(Model.Content.Substring(0, 677) + "...")
            }
        </div>
        <div class="readmore">
            <a href="@Url.Action("Detail", new { @id = Model.Id })">Xem thêm »</a>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="row  blog-footer">
        <div class="col-xs-12 col-md-5">
            <a href="@Url.Action("Detail", new {id=Model.Id})" title="Lượt xem">
                <i class="fa fa-eye"></i>
                @Model.View
            </a>
            <a href="@Url.Action("Detail", new {id=Model.Id})" title="Lượt bình luận">
                <i class="fa fa-comment"></i>
                @Model.CommentNum
            </a>
            <a href="@Url.Action("Detail", new {id=Model.Id})" title="Lượt thích">
                <i class="fa fa-thumbs-o-up"></i>
                @Model.Like
            </a>
            <a href="@Url.Action("Detail", new {id=Model.Id})" title="Lượt chia sẻ trên facebook">
                <i class="fa fa-facebook"></i>
                1000
            </a>
        </div>
        <div class="col-xs-12 col-md-7 mh-blog-tags">
            <ul class="list-inline">
                @foreach (var tag in Model.Tags)
                {
                    <li>@Html.Partial("../CommonWidget/_TagPartialView", tag)</li>
                }
            </ul>
        </div>
    </div>
</div>