@model CP_MathHub.Models.Blog.ArticlePreviewViewModel
@using CP_MathHub.Service.Helpers
@using CP_MathHub.Entity
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
<div class="col-xs-4 @ViewData["Class"]">
    <div class="row">
        <div class="col-xs-9 col-sm-10 title">
            <a title="@Model.Title" href="@Url.Action("Detail", new {id=Model.Id})" style="@(Model.PublicDate > DateTime.Now ? "color:grey;" : "")">
                @(Model.Title.Length <= 39 ? Model.Title : Model.Title.Substring(0, 36) + "...")
            </a>
            @Html.Partial("../CommonWidget/_BookmarkPartialView", new ViewDataDictionary { { "UserId", Model.UserId }, { "Bookmarked", Model.Bookmarked }, { "Id", Model.Id } })
        </div>
        <div class="col-xs-3 col-sm-2">
            @Html.Partial("../CommonWidget/_PostSettingPartialView", new ViewDataDictionary { { "PostId", Model.Id }, { "PostType", "blog" }, { "Status", Model.Status }, { "UserId", Model.UserId } })
        </div>
    </div>
    <div class="mh-blog-user">
        <div class="row mh-row-time">
            <span>@Html.PostCreatedTime(Model.PublicDate.Value, (string)ViewBag.CreatedDateType)</span>
            <span class="@(Model.Edited ? "" : "hidden") edited-button">
                -
                <a onclick="loadEditedLog(@Model.Id,@("\"MainPost\""))" data-toggle="modal" data-target="#history-edit" class="mh-comment-history-edit">Đã chỉnh sửa</a>
            </span>
        </div>
        <div class="row mh-row-info">
            <div class="col-xs-2">
                <a href="#">
                    <img src="~/Content/img/user.jpg" class="mh-user-smallest">
                </a>
            </div>
            <div class="col-xs-10 user">
                <a href="@Url.Action("UserProfile", "Account", new  {userid = @Model.UserId })">
                    <span style="@(Model.UserInfo.Status == UserStatusEnum.Banned ? "text-decoration: line-through;":"")">@Model.UserInfo.Username</span>
                </a>
                -
                <span>@Model.UserInfo.Reputation</span>
                <i class="fa fa-circle mh-reputation-icon"></i>
            </div>
        </div>
    </div>
    <div class="content">
        @Html.Raw(Model.Content)
    </div>
    <div class="readmore">
        <a href="@Url.Action("Detail", new {id=Model.Id})">Xem thêm »</a>
        <div style="clear: both;"></div>
    </div>
    <div class="blog-footer">
        <a href="@Url.Action("Detail", new {id=Model.Id})" title="Lượt xem">
            <div>
                <i class="fa fa-eye"></i>
            </div>
            <div>
                @Model.View
            </div>
        </a>
        <a href="@Url.Action("Detail", new {id=Model.Id})" title="Lượt bình luận">
            <div>
                <i class="fa fa-comment"></i>
            </div>
            <div>
                @Model.CommentNum
            </div>
        </a>
        <a href="@Url.Action("Detail", new {id=Model.Id})" title="Lượt thích">
            <div>
                <i class="fa fa-thumbs-o-up"></i>
            </div>
            <div>
                @Model.Like
            </div>
        </a>
        <a href="@Url.Action("Detail", new {id=Model.Id})" title="Lượt chia sẻ trên facebook">
            <div>
                <i class="fa fa-facebook"></i>
            </div>
            <div>
                1000
            </div>
        </a>
    </div>
</div>