@model CP_MathHub.Models.Blog.BlogHomeViewModel
@{
    ViewBag.Title = ViewBag.Tab;
    ViewBag.MhPage = "blog-home";
    ViewBag.CreatedDateType = "đăng";
    Layout = "~/Views/Blog/Layouts/_BlogHomeLayout.cshtml";
}

<div class="mh-top-content">
    <div class="row">
        <div class="mh-content-title">
            <a href="@Url.Action("Index")" class="btn btn-default active">Bài viết cộng đồng</a>
            <a href="#" class="btn btn-default">Bài viết của tôi</a>
        </div>
    </div>
</div>

@Html.Partial("Partials/_NavPartialView")

@Html.Partial("Partials/_ArticleHotPartialView", Model.HotArticles)

<div class="mh-blog-new">
    <h3>Bài viết <span style="color: red; font-weight: bold;">Mới</span></h3>
    <div class="mh-blog-new-body">
        <div class="row" id="list-articles">
            @Html.Partial("Partials/_ArticleListPartialView", Model.Articles)
        </div>
    </div>
</div>

<input id="tab" type="hidden" value="@ViewBag.Tab" />
<input id="system" type="hidden" value="@ViewBag.System" />
<input id="tab-param" type="hidden" value="@ViewBag.TabParam" />
<input id="mh-page" type="hidden" value="@ViewBag.MhPage" />

@section LeftPanel
{
    @Html.Action("ProfileWidget", new { controller = "CommonWidget" })
    @*@Html.Action("FavoriteTagWidget", new { controller = "CommonWidget" })
        @Html.Action("SubscriptionWidget", new { controller = "CommonWidget" })*@
    @Html.Partial("../CommonWidget/Mockups/_LeftSectionMockup")
}
@section RightPanel
{
    @Html.Partial("../CommonWidget/Mockups/_RightSectionMockup")
    @*@Html.Action("PostProblemWidget", new { controller = "CommonWidget" })
        <hr />
        @Html.Action("MySubscriptionWidget", new { controller = "CommonWidget" })
        <hr />
        @Html.Action("NewBlogWidget", new { controller = "CommonWidget" })*@
}




