@model CP_MathHub.Models.Blog.ArticleDetailViewModel
@using CP_MathHub.Service.Helpers
@using CP_MathHub.Core.Configuration
@{
    ViewBag.Title = Model.Title;
    ViewBag.MhPage = Constant.String.BlogDetailPage;
    ViewBag.CreatedDateType = "đăng";
    Layout = "~/Views/Blog/Layouts/_BlogDetailLayout.cshtml";
}

<div class="mh-top-content">
    <div class="row">
        <div class="col-xs-12 col-md-5 col-lg-3 mh-content-title-1">
            <h3></h3>
        </div>
        <div class="col-xs-12 col-md-7 col-lg-9 mh-content-title">
            <a href="@Url.Action("Index")" class="btn btn-default">
                <i class="fa fa-users mh-home-button"></i>
                Bài viết cộng đồng
            </a>
            <a href="@Url.Action("MyBlog")" class="btn btn-default">
                <i class="fa fa-user mh-home-button"></i>
                Bài viết của tôi
            </a>
        </div>
    </div>
</div>

@Html.Partial("Partials/_NavPartialView", new ViewDataDictionary {{"Page", ViewBag.MhPage}, {"UserId", Model.UserInfo.Id}, {"User", Model.UserInfo.Username}})

<div class="mh-show-detail-contents">
    <div class="mh-show-detail-content">
        <div>
            <div class="row">
                <div class="col-xs-9 col-sm-10 title">
                    <a href="">@Model.Title</a>
                    <i onclick="unBookmark(@Model.Id)" class="fa fa-star mh-bookmarked-icon bookmarked-@Model.Id @(Model.Bookmarked ? "":"hidden")" title="Có @Model.BookmarkNum người đánh dấu câu hỏi này"></i>
                    <i onclick="bookmark(@Model.Id)" class="fa fa-star-o mh-bookmark-icon bookmark-@Model.Id @(Model.Bookmarked ? "hidden" : "")" title="Có @Model.BookmarkNum người đánh dấu câu hỏi này"></i>
                </div>
                <div class="col-xs-3 col-sm-2 mh-posts-setting">
                    <ul class="navbar-nav navbar-right" title="Chỉnh sửa">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-angle-down mh-post-setting-icon"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a data-toggle="modal" data-target="#report-post">
                                        Báo cáo vi phạm
                                    </a>
                                </li>
                                <li><a href="#">Chỉnh sửa bài viết</a></li>
                                <li><a href="">Đóng bài viết</a></li>
                                <li><a href="">Xóa bài viết</a></li>
                            </ul>
                            <div>
                                <!-- Modal: start -->
                                <div id="report-post" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Báo cáo vi phạm</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Bà xã em number 1
                                                    </label><br />
                                                    <label>
                                                        <input type="checkbox"> Milu sủa gâu gâu
                                                    </label><br />
                                                    <label>
                                                        <input type="checkbox"> hello world
                                                    </label><br />
                                                    <label>
                                                        <input type="checkbox"> The world is shit
                                                    </label><br />
                                                    <label>
                                                        <input type="checkbox"> Lý do khác
                                                    </label><br />
                                                </div>
                                                <div class="mh-report-cause">
                                                    <label>Mô tả:</label><br />
                                                    <input type="text" placeholder="Nhập mô tả..." />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                                <button type="button" class="btn btn-primary">Gửi báo cáo</button>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- Modal: end -->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mh-blog-user">
                <div class="row mh-row-time">
                    <span>@MhHtmlHelper.PostCreatedTime(Model.CreatedDate, ViewBag.CreatedDateType)</span>
                </div>
                <div class="mh-row-info">
                    <a href="#">
                        <img src="~/Content/img/user.jpg" class="mh-user-icon">
                    </a>
                    <a href="#">
                        <span>@Model.UserInfo.Username</span>
                    </a>
                    -
                    <span>@Model.UserInfo.Reputation</span>
                    <i class="fa fa-circle mh-reputation-icon"></i>
                </div>
            </div>
            <div class="content">
                @Html.Raw(Model.Content)
            </div>
        </div>
        <div class="row  blog-footer">
            <div class="col-xs-12 col-md-5">
                <a href="" title="Lượt xem">
                    <i class="fa fa-eye"></i>
                    @Model.View
                </a>
                <a target="_blank" title="Chia sẻ facebook" href="http://www.facebook.com/sharer.php?u=https://www.google.com/">
                    <img src="~/Content/img/social_fb_s.png" class="mh-share-facebook mh-share-facebook-button" alt="Chia sẻ facebook" />
                    <div class="mh-share-facebook">
                        <div class="pluginCountButton pluginCountNum">
                            <span mh-url="https://www.google.com/" class="mh-share-num pluginCountTextConnected">123</span>
                            <span mh-url="https://www.google.com/" class="mh-share-num pluginCountTextDisconnected">123</span>
                        </div>
                        <div class="pluginCountButtonNub">
                            <s></s>
                            <i></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-md-7 mh-blog-tags">
                <ul class="list-inline">
                    @foreach (var tag in Model.Tags)
                    {
                        <li>@Html.Partial("../CommonWidget/_TagPartialView", tag)</li>
                    }
                </ul>
            </div>
        </div>
        <div class="mh-pre-comment">
            <a class="mh-like" onclick="like(@Model.Id, this)">@(Model.Liked ? "Bỏ thích" : "Thích")</a>
            -
            <a href="">Bình luận</a>
            -
            <a href="" title="Lượt thích" class="mh-comment-like">
                <i class="fa fa-thumbs-o-up"></i>
                @Model.Like
            </a>
            -
            <a href="" title="Lượt bình luận" class="mh-comment-like">
                <i class="fa fa-comment"></i>
                @Model.Comments.Count
            </a>
        </div>
        <div class="mh-user-comment">
            <div class="media mh-input-commnent-div">
                <div class="media-left">
                    <img src="~/Content/img/user.jpg" alt="..." class="mh-user-icon">
                </div>
                <div class="media-body">
                    <div class="mh-comment-input-send">
                        <input type="text" class="mh-media-comment-input mh-input-comment" placeholder="Viết bình luận...">
                        <input type="hidden" class="post-id" value="@Model.Id" />
                        <input type="hidden" class="type" value="comment" />
                        <a href=""><i class="fa fa-paper-plane mh-commnet-send"></i></a>
                    </div>
                </div>
            </div>

            @if (Model.Comments.Count > 5)
            {
                <div class="mh-comment-list">
                   @Html.Partial("../CommonWidget/_CommentListPartialView", Model.Comments.Take(5))
                </div>
                <div class="mh-comment-list-full hidden">
                    @Html.Partial("../CommonWidget/_CommentListPartialView", Model.Comments)
                </div>
                <div class="mh-media-see-more">
                    <a class="mh-seemore-comment" onclick="seemore(this)">
                        Xem @(Model.Comments.Count - 5) bình luận
                    </a>
                </div>
            }
            else
            {
                <div class="mh-comment-list-full">
                    @Html.Partial("../CommonWidget/_CommentListPartialView", Model.Comments)
                </div>
            }

        </div>

    </div>
</div>

<input id="system" type="hidden" value="@ViewBag.System" />
<input id="mh-page" type="hidden" value="@ViewBag.MhPage" />



@section LeftPanel
{
    @Html.Action("ProfileWidget", new { controller = "CommonWidget" })
    @*@Html.Action("FavoriteTagWidget", new { controller = "CommonWidget" })
        @Html.Action("SubscriptionWidget", new { controller = "CommonWidget" })*@
    @Html.Partial("../CommonWidget/Mockups/_LeftSectionMockup")
}
@section RightPanel
{
    @Html.Partial("../CommonWidget/Mockups/_RightSectionMockup")
    @*@Html.Action("PostProblemWidget", new { controller = "CommonWidget" })
        <hr />
        @Html.Action("MySubscriptionWidget", new { controller = "CommonWidget" })
        <hr />
        @Html.Action("NewBlogWidget", new { controller = "CommonWidget" })*@
}

