@model CP_MathHub.Models.Blog.ArticleCreateViewModel
@using CP_MathHub.Entity
@using CP_MathHub.Core.Configuration
@{
    ViewBag.Title = "Tạo Bài Viết";
    ViewBag.MhPage = Constant.String.BlogCreatePage;
    Layout = "~/Views/Blog/Layouts/_BlogCreateLayout.cshtml";
}
<div class="mh-top-content">
    <div class="row">
        <div class="col-xs-12 col-md-5 col-lg-3 mh-content-title-1">
            <h3>Tạo bài viết</h3>
        </div>
        <div class="col-xs-12 col-md-7 col-lg-9 mh-content-title">
            <a href="@Url.Action("Index")" class="btn btn-default">
                <i class="fa fa-users mh-home-button"></i>
                Bài viết cộng đồng
            </a>
            <a href="@Url.Action("MyBlog")" class="btn btn-default">
                <i class="fa fa-user mh-home-button"></i>
                Bài viết của tôi
            </a>
        </div>
    </div>
</div>
<div class="mh-body-content-mid">
    @using (Html.BeginForm("Create", "Blog", FormMethod.Post, new { @role = "form" }))
    {
        <div class="mh-body-title">
            @Html.Label("Tiêu đề:", new { @class = "mh-create-label" })<br />
            @Html.TextBoxFor(m => m.Title, new { @class = "mh-create-input", @placeholder = "Nhập tiêu đề..." })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
        <div class="mh-ckeditor">
            @Html.Label("Nội dung:", new { @class = "mh-create-label" })<br />
            *(@Html.Label("Chú ý: để nhập công thức toán học, hãy nhấn vào icon:", new { @class = "mh-create-label-note" })
            <img src="~/Content/img/iconLaTex.PNG" />)<br />
            @Html.TextAreaFor(model => model.Content, new { @class = "editor", @id = "editor1", @rows = "15", @cols = "80" })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
        <div class="mh-preview">
            <button type="button" class="btn btn-info mh-preview-button">Xem trước</button>
            <div class="mh-preview-content">
            </div>
        </div>
        <div class="mh-create-privacy">
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-4">
                    @Html.Label("Ai thấy bài viết của bạn: ", new { @class = "mh-create-label" })<br />
                </div>
                <div class="col-sm-6 col-md-7 col-lg-8">
                    @Html.SelectForEnum(Model.Privacy, typeof(MainPostPrivacyEnum), new Dictionary<string, string> { { "id", "mh-mainpost-privacy" }, { "name", "Privacy" } })
                </div>
            </div>
        </div>
        <div class="mh-create-day">
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-4">
                    @Html.Label("Chọn ngày đăng:", new { @class = "mh-create-label" })<br />
                </div>
                <div class="col-sm-6 col-md-7 col-lg-8">
                    @Html.TextBoxFor(model => model.PublicDate,new { @id = "datepicker", @style = "padding-left: 5px;", @data_val = "false" })
                    @*@Html.TextBox("PublicDate", Model.PublicDate, new { @id = "datepicker", @style = "padding-left: 5px;" })*@
                </div>
            </div>
        </div>
        <div id="mh-input-tag-div">
            <label class="mh-create-label">Gắn thẻ cho bài viết: </label><br />
            <div class="mh-create-input mh-input-tag">
                <div id="mh-tag-list"></div>
                <div><input type="text" id="mh-input-tag" /></div>
                <i id="mh-create-tag" class="fa fa-plus-square" onclick="createTag()"></i>
            </div>
            <ul id="mh-tag-autocomplete-list"></ul>
        </div>
        <div id="mh-input-invite-div">
            <label class="mh-create-label">Mời bạn bè: </label><br />
            <div class="mh-create-input mh-input-invite">
                <div id="mh-invite-list"></div>
                <div><input type="text" id="mh-input-invite" /></div>
            </div>
            <ul id="mh-invite-autocomplete-list"></ul>
        </div>
        <div class="mh-create-div">
            <button type="submit" class="btn btn-success btn-lg mh-create-button">Đăng</button>
            <a href="@ViewBag.ReturnUrl" class="btn btn-default btn-lg mh-create-button">Hủy</a>
        </div>
    }
</div><!-- Body content Mid: end  -->
<input id="mh-page" type="hidden" value="@ViewBag.MhPage" />
@section LeftPanel
{
    @if (Request.IsAuthenticated)
    {
        @Html.Action("ProfileWidget", new { controller = "CommonWidget" })
        @*@Html.Action("FavoriteTagWidget", new { controller = "CommonWidget" })
            @Html.Action("SubscriptionWidget", new { controller = "CommonWidget" })*@
        @Html.Partial("../CommonWidget/Mockups/_LeftSectionMockup")
    }
}
@section styles{

}
@section scripts{

}
