@model CP_MathHub.Models.Discussion.CategoryPreviewViewModel
@using CP_MathHub.Service.Helpers

<div class="mh-topic">
    <div class="row">
        <!--  Col-sm: start -->
        <div class="hidden-xs col-sm-5">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object mh-image-picture" src="~/Content/img/daiso.jpg" alt="...">
                    </a>
                </div>
                <div class="media-body">                  
                        <h5 class="media-heading"><a href="@Url.Action("CategoryIndex", new { @tagId = Model.Id, @tag = Model.Name })">@Model.Name</a></h5>
                        @Model.Description;              
                </div>
            </div>
        </div>
        <div class="hidden-xs col-sm-7">
            <div class="media">
                <div class="media-left mh-discussion-quantity">
                    <h5>@Model.PostNum</h5>
                </div>
                <div class="media-body">                    
                        Bài viết mới: <a href="@Url.Action("Detail", new {@id = Model.Discussion.Id})" style="font-size:12.5pt;"><strong>@Model.Discussion.Title</strong></a> <br/>
                         @Html.PostCreatedTime(Model.Discussion.CreatedDate, "Đăng")
                        bởi <a href="#"><strong><i>@Model.Discussion.Author.UserName</i></strong></a>
                </div>
            </div>
        </div>
        <!--  Col-sm: end -->
        <!-- Col-xs: start -->
        <div class="visible-xs col-xs-12">
            <div class="row">
                <div class="col-xs-5">
                    <a href="#">
                        <img class="media-object mh-image-picture" src="img/daiso.jpg" alt="...">
                    </a>
                </div>
                <div class="col-xs-7">
                    <div>
                        <a href="">
                            <h5 class="media-heading">@Model.Name</h5>
                        </a>
                    </div>
                    <div>
                        <h5>@Model.PostNum</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="visible-xs col-xs-12 mh-discussion-last-time-user">
            <a href="">
                <h5>Bài viết cuối @Html.PostCreatedTime(Model.Discussion.CreatedDate, "đăng") bởi @Model.UserName</h5>
            </a>
        </div>
        <!-- Col-xs: end -->
    </div>
</div> <!-- Topic discussion: end -->
