@using CP_MathHub.Models.Account
@model ActivityViewModel
@using CP_MathHub.Core.Configuration
@using CP_MathHub.Service.Helpers
@{
    ViewBag.Title = "ActivityView";
    Layout = "~/Views/Account/Layouts/_ActivityLayout.cshtml";
}

<div class="mh-top-content">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-3 mh-content-title">
            <h2>
                <i class="fa fa-globe"></i>
                Hoạt động
            </h2>
        </div>
        <!--<div class="col-xs-12 col-sm-7 col-md-9 mh-content-top-button">
            <a class="btn btn-default" href="#" role="button">
                <span class="badge mh-num-icon">42</span>
                Lời mời kết bạn
            </a>
            <a class="btn btn-default" href="#" role="button">
                <i class="fa fa-user-plus"></i>
                Tìm bạn
            </a>
        </div>-->
    </div>
</div>
<div class="mh-home">
    <div class="row">
        <div class="visible-xs mh-home-tab">
            <a class="btn btn-danger btn-sm active">Thông tin cá nhân</a>
            <a class="btn btn-danger btn-sm">
                Bạn bè
                <span class="badge mh-num-icon">3</span>
            </a>
            <a class="btn btn-danger btn-sm">Hoạt động</a>
            <a class="btn btn-danger btn-sm">Quyền riêng tư</a>
        </div>
    </div>
</div>
<div class="mh-body-profile">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#all-post" aria-controls="all-post" role="tab" data-toggle="tab">
                Bài đăng
            </a>
        </li>
        <li role="presentation">
            <a href="#tags" aria-controls="tags" role="tab" data-toggle="tab">
                Thẻ yêu thích
            </a>
        </li>
        <li role="presentation">
            <a href="#brands" aria-controls="brands" role="tab" data-toggle="tab">
                Danh hiệu
            </a>
        </li>
        <li role="presentation">
            <a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">
                Hoạt động
            </a>
        </li>
        <li role="presentation">
            <a href="#notification" aria-controls="notification" role="tab" data-toggle="tab">
                Thông báo
            </a>
        </li>
        <li role="presentation">
            <a href="#message" aria-controls="message" role="tab" data-toggle="tab">
                Tin nhắn
            </a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="all-post">
            <div class="row">
                <div class="col-xs-9 col-sm-10 col-md-11 col-lg-5 mh-profile-posts">
                    <h4>
                        Câu hỏi
                        <span>(@Model.QuestionNum)</span>
                    </h4>
                    <div class="mh-profile-post">
                        @Html.Partial("Partials/_UserQuestionActivityPartialView", Model.QuestionList)
                    </div>
                </div>
                <div class="col-xs-9 col-sm-10 col-md-11 col-lg-5 mh-profile-posts">
                    <h4>
                        Trả lời
                        <span>(@Model.AnswerNum)</span>
                    </h4>
                    <div class="mh-profile-post">
                        @Html.Partial("Partials/_UserAnswerActivityPartialView", Model.AnswerList)
                    </div>
                </div>
                <div class="col-xs-9 col-sm-10 col-md-11 col-lg-5 mh-profile-posts">
                    <h4>
                        Bài viết
                        <span>(@Model.ArticleNum)</span>
                    </h4>
                    <div class="mh-profile-post">
                        @Html.Partial("Partials/_UserArticleActivityPartialView", Model.ArticleList)
                    </div>
                </div>
                <div class="col-xs-9 col-sm-10 col-md-11 col-lg-5 mh-profile-posts">
                    <h4>
                        Thảo luận
                        <span>(@Model.DiscussionNum)</span>
                    </h4>
                    <div class="mh-profile-post">
                        @Html.Partial("Partials/_UserDiscussionActivityPartialView", Model.DiscussionList)
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tags">
            <div class="row">
                <div class="col-lg-6">
                    <h4>
                        Kết quả cho:
                        <span></span>
                    </h4>
                </div>
                <div class="col-lg-6">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Tìm kiếm...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit" style="height: 34px;">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mh-profile-tag-favourite">
                @Html.Partial("Partials/_FavoriteTagsPartialView", Model.TagList)
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="brands">
            <div class="row">
                <div class="mh-profile-brand">
                    Hiện tại bạn đạt danh hiệu:
                    <span class="mh-profile-brand-name">Newbie </span>
                </div>
                <div class="detail-reputat">
                    với số điểm thưởng đạt được là:
                    <span>1432</span>
                    <i class="fa fa-circle mh-reputation-icon"></i>
                </div>
            </div>
            <div class="mh-system-brand">
                Hệ thống danh hiệu của MathHub là:
                <div class="row">
                    <div class="col-xs-7 col-sm-5 col-md-3 col-lg-2">
                        <span class="mh-profile-brand-name">Newbie:</span>
                    </div>
                    <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2 detail-reputat">
                        <span>0</span>
                        <i class="fa fa-circle mh-reputation-icon"></i>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-7 col-lg-8">
                        <span class="mh-profile-brand-quantity">10000</span> người đạt danh hiệu này
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7 col-sm-5 col-md-3 col-lg-2">
                        <span class="mh-profile-brand-name">Thành viên cấp 1:</span>
                    </div>
                    <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2 detail-reputat">
                        <span>2000</span>
                        <i class="fa fa-circle mh-reputation-icon"></i>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-7 col-lg-8">
                        <span class="mh-profile-brand-quantity">5000</span> người đạt danh hiệu này
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7 col-sm-5 col-md-3 col-lg-2">
                        <span class="mh-profile-brand-name">Thành viên cấp 2:</span>
                    </div>
                    <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2 detail-reputat">
                        <span>5000</span>
                        <i class="fa fa-circle mh-reputation-icon"></i>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-7 col-lg-8">
                        <span class="mh-profile-brand-quantity">2000</span> người đạt danh hiệu này
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7 col-sm-5 col-md-3 col-lg-2">
                        <span class="mh-profile-brand-name">Thành viên cấp 3:</span>
                    </div>
                    <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2 detail-reputat">
                        <span>10000</span>
                        <i class="fa fa-circle mh-reputation-icon"></i>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-7 col-lg-8">
                        <span class="mh-profile-brand-quantity">800</span> người đạt danh hiệu này
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7 col-sm-5 col-md-3 col-lg-2">
                        <span class="mh-profile-brand-name">Kì cựu:</span>
                    </div>
                    <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2 detail-reputat">
                        <span>30000</span>
                        <i class="fa fa-circle mh-reputation-icon"></i>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-7 col-lg-8">
                        <span class="mh-profile-brand-quantity">300</span> người đạt danh hiệu này
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7 col-sm-5 col-md-3 col-lg-2">
                        <span class="mh-profile-brand-name">Chuyên gia:</span>
                    </div>
                    <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2 detail-reputat">
                        <span>70000</span>
                        <i class="fa fa-circle mh-reputation-icon"></i>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-7 col-lg-8">
                        <span class="mh-profile-brand-quantity">10</span> người đạt danh hiệu này
                    </div>
                </div>
            </div>
        </div>
        <div id="activity" class="tab-pane">
            <h4>Hoạt động của bạn</h4>
            <div class="mh-profile-activities">
                <div class="mh-profile-activity">
                    Bạn đã thích
                    <a href="">bài viết</a>
                    của
                    <a>Thân Văn Tâm</a>
                </div>
                <div class="mh-profile-activity">
                    Bạn đã được gắn thẻ tại
                    <a href="">câu hỏi</a>
                    của
                    <a>Thân Văn Tâm</a>
                </div>
            </div>
        </div>
        <div id="notification" class="tab-pane">
            <h4>Thông báo của bạn</h4>
            <div class="mh-profile-notifications">
                <div class="mh-profile-notification">
                    <a href="#">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/user.jpg" alt="..." class="mh-user-icon">
                            </div>
                            <div class="media-body">
                                <span class="media-heading">
                                    User
                                </span>
                                <span class="mh-notifi-content"> đã trả lời câu hỏi của bạn: Tại sao đường tròn lại tập hợp một chuỗi các đường thẳng?</span><br />
                                <span class="mh-time">58 phút trước</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mh-profile-notification">
                    <a href="#">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/user.jpg" alt="..." class="mh-user-icon">
                            </div>
                            <div class="media-body">
                                <span class="media-heading">
                                    User
                                </span>
                                <span class="mh-notifi-content"> đã trả lời câu hỏi của bạn: Tại sao đường tròn lại tập hợp một chuỗi các đường thẳng?</span><br />
                                <span class="mh-time">58 phút trước</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mh-profile-notification">
                    <a href="#">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/user.jpg" alt="..." class="mh-user-icon">
                            </div>
                            <div class="media-body">
                                <span class="media-heading">
                                    User
                                </span>
                                <span class="mh-notifi-content"> đã trả lời câu hỏi của bạn: Tại sao đường tròn lại tập hợp một chuỗi các đường thẳng?</span><br />
                                <span class="mh-time">58 phút trước</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mh-profile-notification">
                    <a href="#">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/user.jpg" alt="..." class="mh-user-icon">
                            </div>
                            <div class="media-body">
                                <span class="media-heading">
                                    User
                                </span>
                                <span class="mh-notifi-content"> đã trả lời câu hỏi của bạn: Tại sao đường tròn lại tập hợp một chuỗi các đường thẳng?</span><br />
                                <span class="mh-time">58 phút trước</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mh-profile-notification">
                    <a href="#">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/user.jpg" alt="..." class="mh-user-icon">
                            </div>
                            <div class="media-body">
                                <span class="media-heading">
                                    User
                                </span>
                                <span class="mh-notifi-content"> đã trả lời câu hỏi của bạn: Tại sao đường tròn lại tập hợp một chuỗi các đường thẳng?</span><br />
                                <span class="mh-time">58 phút trước</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mh-profile-notification">
                    <a href="#">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/user.jpg" alt="..." class="mh-user-icon">
                            </div>
                            <div class="media-body">
                                <span class="media-heading">
                                    User
                                </span>
                                <span class="mh-notifi-content"> đã trả lời câu hỏi của bạn: Tại sao đường tròn lại tập hợp một chuỗi các đường thẳng?</span><br />
                                <span class="mh-time">58 phút trước</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mh-profile-notification">
                    <a href="#">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/user.jpg" alt="..." class="mh-user-icon">
                            </div>
                            <div class="media-body">
                                <span class="media-heading">
                                    User
                                </span>
                                <span class="mh-notifi-content"> đã trả lời câu hỏi của bạn: Tại sao đường tròn lại tập hợp một chuỗi các đường thẳng?</span><br />
                                <span class="mh-time">58 phút trước</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mh-profile-notification">
                    <a href="#">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/user.jpg" alt="..." class="mh-user-icon">
                            </div>
                            <div class="media-body">
                                <span class="media-heading">
                                    User
                                </span>
                                <span class="mh-notifi-content"> đã trả lời câu hỏi của bạn: Tại sao đường tròn lại tập hợp một chuỗi các đường thẳng?</span><br />
                                <span class="mh-time">58 phút trước</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mh-profile-notification">
                    <a href="#">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/user.jpg" alt="..." class="mh-user-icon">
                            </div>
                            <div class="media-body">
                                <span class="media-heading">
                                    User
                                </span>
                                <span class="mh-notifi-content"> đã trả lời câu hỏi của bạn: Tại sao đường tròn lại tập hợp một chuỗi các đường thẳng?</span><br />
                                <span class="mh-time">58 phút trước</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div id="message" class="tab-pane">
            <div class="row">
                <div class="col-xs-4 mh-profile-chat-users">
                    <div class="mh-profile-chat-top">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Tìm kiếm...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="mh-profile-chat-user">
                        <div class="active">
                            <a href="#">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/user.jpg" alt="..." class="mh-user-image">
                                    </div>
                                    <div class="media-body">
                                        <span class="media-heading">Thân Văn Tâm</span><br />
                                        <span class="mh-profile-chat-content"> sao? bạn nói gì</span><br />
                                        <span class="mh-time">58 phút trước</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/user.jpg" alt="..." class="mh-user-image">
                                    </div>
                                    <div class="media-body">
                                        <span class="media-heading">Văn Minh Hoàng Quân</span><br />
                                        <span class="mh-profile-chat-content"> sao? bạn nói gì</span><br />
                                        <span class="mh-time">58 phút trước</span><br />
                                        <span class="mh-new-message">2 tin nhắn mới</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/user.jpg" alt="..." class="mh-user-image">
                                    </div>
                                    <div class="media-body">
                                        <span class="media-heading">User</span><br />
                                        <span class="mh-profile-chat-content"> sao? bạn nói gì</span><br />
                                        <span class="mh-time">58 phút trước</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/user.jpg" alt="..." class="mh-user-image">
                                    </div>
                                    <div class="media-body">
                                        <span class="media-heading">User</span><br />
                                        <span class="mh-profile-chat-content"> sao? bạn nói gì</span><br />
                                        <span class="mh-time">58 phút trước</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/user.jpg" alt="..." class="mh-user-image">
                                    </div>
                                    <div class="media-body">
                                        <span class="media-heading">User</span><br />
                                        <span class="mh-profile-chat-content"> sao? bạn nói gì</span><br />
                                        <span class="mh-time">58 phút trước</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/user.jpg" alt="..." class="mh-user-image">
                                    </div>
                                    <div class="media-body">
                                        <span class="media-heading">User</span><br />
                                        <span class="mh-profile-chat-content"> sao? bạn nói gì</span><br />
                                        <span class="mh-time">58 phút trước</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/user.jpg" alt="..." class="mh-user-image">
                                    </div>
                                    <div class="media-body">
                                        <span class="media-heading">User</span><br />
                                        <span class="mh-profile-chat-content"> sao? bạn nói gì</span><br />
                                        <span class="mh-time">58 phút trước</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/user.jpg" alt="..." class="mh-user-image">
                                    </div>
                                    <div class="media-body">
                                        <span class="media-heading">User</span><br />
                                        <span class="mh-profile-chat-content"> sao? bạn nói gì</span><br />
                                        <span class="mh-time">58 phút trước</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/user.jpg" alt="..." class="mh-user-image">
                                    </div>
                                    <div class="media-body">
                                        <span class="media-heading">User</span><br />
                                        <span class="mh-profile-chat-content"> sao? bạn nói gì</span><br />
                                        <span class="mh-time">58 phút trước</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/user.jpg" alt="..." class="mh-user-image">
                                    </div>
                                    <div class="media-body">
                                        <span class="media-heading">User</span><br />
                                        <span class="mh-profile-chat-content"> sao? bạn nói gì</span><br />
                                        <span class="mh-time">58 phút trước</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8 mh-profile-chat-details">
                    <div class="mh-profile-chat-top">
                        <h4>Thân Văn Tâm</h4>
                    </div>
                    <div class="mh-profile-chat-detail">
                        <div class="media mh-profile-chat-detail-row">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object mh-user-icon" src="img/user.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="">
                                    <h5 class="media-heading">Văn Minh Hoàng Quân</h5>
                                </a>
                                <span>khỏe không?</span>
                            </div>
                            <div class="media-right">
                                18/7/2015 13:02
                            </div>
                        </div>
                        <div class="media mh-profile-chat-detail-row">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object mh-user-icon" src="img/user.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="">
                                    <h5 class="media-heading">Thân Văn Tâm</h5>
                                </a>
                                <span>bình thường, m sao rồi</span>
                            </div>
                            <div class="media-right">
                                18/7/2015 13:02
                            </div>
                        </div>
                        <div class="media mh-profile-chat-detail-row">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object mh-user-icon" src="img/user.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="">
                                    <h5 class="media-heading">Văn Minh Hoàng Quân</h5>
                                </a>
                                <span>chán<br />ê m học xml chưa<br />nó khó ko</span>
                            </div>
                            <div class="media-right">
                                18/7/2015 13:02
                            </div>
                        </div>
                        <div class="media mh-profile-chat-detail-row">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object mh-user-icon" src="img/user.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="">
                                    <h5 class="media-heading">Thân Văn Tâm</h5>
                                </a>
                                <span>rồi, nói chung ráng học là qua à :)</span>
                            </div>
                            <div class="media-right">
                                18/7/2015 13:02
                            </div>
                        </div>
                        <div class="mh-profile-chat-detail-divide">
                            <span class="mh-profile-chat-detail-divide-time">Hôm nay</span>
                        </div>
                        <div class="media mh-profile-chat-detail-row">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object mh-user-icon" src="img/user.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="">
                                    <h5 class="media-heading">Thân Văn Tâm</h5>
                                </a>
                                <span>ê m biết giải lập trình abc ko?</span>
                            </div>
                            <div class="media-right">
                                13:02
                            </div>
                        </div>
                        <div class="media mh-profile-chat-detail-row">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object mh-user-icon" src="img/user.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="">
                                    <h5 class="media-heading">Văn Minh Hoàng Quân</h5>
                                </a>
                                <span>biết m định tham gia hả...</span>
                            </div>
                            <div class="media-right">
                                13:02
                            </div>
                        </div>
                        <div class="media mh-profile-chat-detail-row">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object mh-user-icon" src="img/user.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="">
                                    <h5 class="media-heading">Thân Văn Tâm</h5>
                                </a>
                                <span>ko, nhưng nghe nói cái đó là lập trình di động hả, t định giới thiệu cho bạn t tham gia ấy mà</span>
                            </div>
                            <div class="media-right">
                                13:02
                            </div>
                        </div>
                        <div class="media mh-profile-chat-detail-row">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object mh-user-icon" src="img/user.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="">
                                    <h5 class="media-heading">Văn Minh Hoàng Quân</h5>
                                </a>
                                <span>uhm`, android thì phải, mình vô cms tìm link mà vô xem chi tiết</span>
                            </div>
                            <div class="media-right">
                                13:02
                            </div>
                        </div>
                        <div class="media mh-profile-chat-detail-row">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object mh-user-icon" src="img/user.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="">
                                    <h5 class="media-heading">Thân Văn Tâm</h5>
                                </a>
                                <span>uhm` ok, thanks m</span>
                            </div>
                            <div class="media-right">
                                13:02
                            </div>
                        </div>
                        <div class="media mh-profile-chat-detail-row">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object mh-user-icon" src="img/user.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="">
                                    <h5 class="media-heading">Văn Minh Hoàng Quân</h5>
                                </a>
                                <span>:)</span>
                            </div>
                            <div class="media-right">
                                13:02
                            </div>
                        </div>
                    </div>
                    <div class="mh-profile-chat-footer">
                        <textarea rows="5" class="mh-profile-chat-footer-textarea" placeholder="Viết trả lời..."></textarea>
                        <a href="">
                            <i class="fa fa-smile-o mh-profile-chat-footer-smile" title="Chọn một nhãn dán"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section LeftPanel
{
    <a href="@Url.Action("MyProfile")" class="mh-profile-menu-button active">
        <div class="mh-profile-menu-div">
            Thông tin cá nhân
        </div>
    </a>
    <a href="@Url.Action("Friend")" class="mh-profile-menu-button">
        <div class="mh-profile-menu-div">
            Bạn bè
            <span class="badge mh-num-icon">42</span>
        </div>
    </a>
    <a href="@Url.Action("MyActivity")" class="mh-profile-menu-button">
        <div class="mh-profile-menu-div">
            Hoạt động
        </div>
    </a>
    <a href="@Url.Action("MyProfile")" class="mh-profile-menu-button">
        <div class="mh-profile-menu-div">
            Quyền riêng tư
        </div>
    </a>
}

