@model CP_MathHub.Models.Account.UsersPageViewModel
@using CP_MathHub.Core.Configuration
@{
    ViewBag.Title = "Thành Viên";
    ViewBag.MhPage = Constant.String.QuestionUsersPage;
    Layout = "~/Views/Account/Layouts/_UsersPageLayout.cshtml";
}
<div class="mh-top-content">
    <div class="row">
        <div class="col-md-4 mh-content-title">
            <h3>Thành Viên</h3>
        </div>
    </div>
</div>
<div class="mh-body-content-mid">
    <div class="mh-body-tabs">
        <ul class="nav nav-pills">
            <li role="presentation" @(Model.Tab == "mod" ? "class=active" : "")>
                @Html.ActionLink("Quản trị", "Users", new { @tab = "mod" })
            </li>
            <li role="presentation" @(Model.Tab == "expert" ? "class=active" : "")>
                @Html.ActionLink("Chuyên gia", "Users", new { @tab = "expert" })
            </li>
            <li role="presentation" @(Model.Tab == "newuser" ? "class=active" : "")>
                @Html.ActionLink("Thành viên mới", "Users", new { @tab = "newuser" })
            </li>
            <li role="presentation" @(Model.Tab == "reputation" ? "class=active" : "")>
                @Html.ActionLink("Uy tín", "Users", new { @tab = "reputation" })
            </li>
        </ul>
    </div>
    <div class="mh-body-search">
        <div class="row">
            <div class="mh-search-title">
                Tìm thành viên:
            </div>
            <div class="mh-search-control">
                <input type="search" class="form-control" placeholder="Tìm kiếm..." id="mh-search-user">
            </div>
        </div>
    </div>
    <div class="mh-body-detail">
        <!--  row: start -->
        <div class="row" id="mh-list-user">
            @Html.Partial("Partials/_UserListPartialView", Model.ListUsers)
        </div>
    </div>
</div>
<input id="tab" type="hidden" value="@Model.Tab" />
<input id="system" type="hidden" value="user" />
<input id="tab-param" type="hidden" value="@ViewBag.TabParam" />
<input id="mh-page" type="hidden" value="@ViewBag.MhPage" />
@section LeftPanel
{
    <a href="@Url.Action("MyProfile")" class="mh-profile-menu-button active">
        <div class="mh-profile-menu-div">
            Thông tin cá nhân
        </div>
    </a>
    <a href="@Url.Action("Friend")" class="mh-profile-menu-button">
        <div class="mh-profile-menu-div">
            Bạn bè
        </div>
    </a>
    <a href="@Url.Action("MyActivity")" class="mh-profile-menu-button">
        <div class="mh-profile-menu-div">
            Hoạt động
        </div>
    </a>
    <a href="@Url.Action("Privacy")" class="mh-profile-menu-button">
        <div class="mh-profile-menu-div">
            Quyền riêng tư
        </div>
    </a>
}
@section styles{

}
@section scripts{

}




